  <!-- Breadcrumbs Styles -->
<style>
    header {
        background-image: url(images/Courses/{{data.mdata.image1=="" ? 'bg1.jpg' : data.mdata.image1 }});
    }
</style>
<section>
    <header class="paraxify" style="background-position: center center;">
        <!--top bar-->
        <div class="overlay">
            <!--top bar-->
            <!-- HEADER -->
            <section class="header-bg paddingbottom50">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <h1 class="BigFont white text-center" data-aos="fade-right" data-aos-duration="1000" ng-bind="data.mdata.label"></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--POPULAR COURSES SECTION START HERE-->
            <section id="popular" class="BorderedSection">
                <div class="container sectionPadding">
                    <div>
                        <div class="row">
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="course-details-inner">
                                            <h2 class="title-default-left title-bar-high" ng-bind="data.mdata.heading"></h2>
                                            <p ng-bind="data.mdata.content"></p>
                                            <h3 class="sidebar-title">Course Features</h3>
                                            <ul class="course-feature">
                                                <li>Start: <span ng-bind="data.fdata.start"></span></li>
                                                <li>Course Duration: <span ng-bind="data.fdata.courseDuration"></span></li>
                                                <li>Total Credits: <span ng-bind="data.fdata.totalCredits"></span></li>
                                                <li>Seats Available: <span ng-bind="data.fdata.seatsAvailable"></span></li>
                                                <li>Total Classes : <span ng-bind="data.fdata.totalClasses"></span></li>
                                                <li>Time: <span ng-bind="data.fdata.time"></span></li>
                                                <li>Class: <span ng-bind="data.fdata.class"></span></li>
                                                <li>Lecturer: <span ng-bind="data.fdata.lecturer"></span></li>
                                            </ul>
                                        </div>
                                        <div class="section-divider"></div>
                                        <div class="course-details-inner">
                                            <div class="course-details-comments">
                                                <h3 class="sidebar-title">Student Reviews</h3>
                                                <div class="media">
                                                    <a href="#" class="pull-left">
                                                        <img alt="Comments" src="images/16.jpg" class="media-object">
                                                    </a>
                                                    <div class="media-body">
                                                        <h3><a href="#">Greg Christman</a></h3>
                                                        <h4>Excellent course!</h4>
                                                        <p>Rimply dummy text of the printinwhen an unknown printer took eype and scramb relofeletog and typesetting industry. Lorem </p>
                                                        <div class="replay-area">
                                                            <ul>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="media">
                                                    <a href="#" class="pull-left">
                                                        <img alt="Comments" src="images/16.jpg" class="media-object">
                                                    </a>
                                                    <div class="media-body">
                                                        <h3><a href="#">Lora Ekram</a></h3>
                                                        <h4>Excellent course!</h4>
                                                        <p>Rimply dummy text of the printinwhen an unknown printer took eype and scramb relofeletog and typesetting industry. Lorem </p>
                                                        <div class="replay-area">
                                                            <ul>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="media">
                                                    <a href="#" class="pull-left">
                                                        <img alt="Comments" src="images/16.jpg" class="media-object">
                                                    </a>
                                                    <div class="media-body">
                                                        <h3><a href="#">Mike Jones</a></h3>
                                                        <h4>Excellent course!</h4>
                                                        <p>Rimply dummy text of the printinwhen an unknown printer took eype and scramb relofeletog and typesetting industry. Lorem </p>
                                                        <div class="replay-area">
                                                            <ul>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="media">
                                                    <a href="#" class="pull-left">
                                                        <img alt="Comments" src="images/16.jpg" class="media-object">
                                                    </a>
                                                    <div class="media-body">
                                                        <h3><a href="#">Greg Christman</a></h3>
                                                        <h4>Excellent course!</h4>
                                                        <p>Rimply dummy text of the printinwhen an unknown printer took eype and scramb relofeletog and typesetting industry. Lorem </p>
                                                        <div class="replay-area">
                                                            <ul>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="leave-comments">
                                                <h3 class="sidebar-title">Leave A Comment</h3>
                                                <div class="row">
                                                    <div class="contact-form" id="review-form">
                                                        <form>
                                                            <fieldset>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <input type="text" placeholder="Name" class="form-control">
                                                                        <div class="help-block with-errors"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <input type="email" placeholder="Email" class="form-control">
                                                                        <div class="help-block with-errors"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <div class="form-group">
                                                                        <div class="rate-wrapper">
                                                                            <div class="rate-label">Your Rating:</div>
                                                                            <div class="rate">
                                                                                <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                                <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                                <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                                <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                                <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <div class="form-group">
                                                                        <textarea placeholder="Comment" class="textarea form-control" id="form-message" rows="8" cols="20"></textarea>
                                                                        <div class="help-block with-errors"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <div class="form-group">
                                                                        <button type="submit" class="view-all-accent-btn">Post Comment</button>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                <div class="sidebar">
                                    <div class="sidebar-box">
                                        <div class="sidebar-box-inner">
                                            <h3 class="sidebar-title">Course Price</h3>
                                            <div class="sidebar-course-price">
                                                <span ng-bind="data.mdata.price"></span>
                                                <a href="#" class="enroll-btn">Enroll This Course</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sidebar-box">
                                        <div class="sidebar-box-inner">
                                            <h3 class="sidebar-title">Skilled Lecturer</h3>
                                            <div class="sidebar-skilled-area">
                                                <ul>
                                                    <li ng-repeat="s in data.ldata">
                                                        <div class="skilled-img">
                                                            <a href="#"><img src="images/{{s.image1}}" class="img-responsive" alt="skilled"></a>
                                                        </div>
                                                        <div class="skilled-content">
                                                            <h4><a href="#">{{s.name}}</a></h4>
                                                            <p>{{s.desc}}</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sidebar-box">
                                        <div class="sidebar-box-inner">
                                            <h3 class="sidebar-title">Related Courses</h3>
                                            <div class="sidebar-related-area">
                                                <ul>
                                                    <li ng-repeat="n in data.rdata">
                                                        <div class="related-img">
                                                            <a ng-href="#!/courses/{{pcourseid}}/{{n.id}}"><img src="images/{{n.image2}}" class="img-responsive" alt="related"></a>
                                                        </div>
                                                        <div class="related-content">
                                                            <h4><a ng-href="#!/courses/{{pcourseid}}/{{n.id}}">{{n.label}}</a></h4>
                                                            <p ng-bind="n.price"></p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sidebar-box">
                                        <div class="sidebar-box-inner">
                                            <h3 class="sidebar-title">Asked Any Question?</h3>
                                            <div class="sidebar-question-form">
                                                <form id="question-form" novalidate="true">
                                                    <fieldset>
                                                        <div class="form-group">
                                                            <input type="text" placeholder="Name*" class="form-control" name="name" id="form-name" data-error="Name field is required" required="">
                                                            <div class="help-block with-errors"></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="email" placeholder="Email*" class="form-control" name="email" id="form-email" data-error="Email field is required" required="">
                                                            <div class="help-block with-errors"></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <textarea placeholder="Message*" class="textarea form-control" name="message" id="sidebar-form-message" rows="3" cols="20" data-error="Message field is required" required=""></textarea>
                                                            <div class="help-block with-errors"></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="submit" class="default-full-width-btn disabled">Send</button>
                                                        </div>
                                                        <div class="form-response"></div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--POPULAR COURSES SECTION END HERE-->
        </div>
    </header>
</section>