/*  colors classes start here */

.gradientbg {
    background: rgb(221, 48, 83); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd3053', endColorstr='#9933b2', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    color: #ffffff;
}

.gradientColor {
    background: rgb(221, 48, 83); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd3053', endColorstr='#9933b2', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s;
}

.gradientbgTransparent {
    background: rgb(221, 48, 83); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd3053', endColorstr='#9933b2', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3883e0', endColorstr='#d347e0', GradientType=1); /* IE6-9 */
    border: none;
}

.gradientHover:hover, .gradientHover:hover {
    cursor: pointer;
    box-shadow: 0px 5px 20px rgba(62, 214, 211, 0.7);
}

.gradientColor:hover {
    text-decoration: none;
}

.overlay {
    background: rgb(221, 48, 83); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(221, 48, 83, 0.7) 0%, rgba(153, 51, 178, 0.7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(221, 48, 83, 0.7) 0%, rgba(153, 51, 178, 0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(221, 48, 83, 0.7) 0%, rgba(153, 51, 178, 0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd3053', endColorstr='#9933b2', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.form-control:focus {
    border-color: #8964e0;
}

/*  colors classes end here */





/*Navbar styles start here */

.dropdown-menu ul li {
    background-color: #f1f1f1;
}

#navigation li .dropdown-menu li {
    padding: 5px 10px;
}

.gradientBtn {
    background: rgb(221, 48, 83); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd3053', endColorstr='#9933b2', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-family: robo-medium;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    transition: all 0.3s ease 0s;
}

    .gradientBtn div {
        background-color: #ffffff;
    }

    .gradientBtn:hover div {
        color: #fff !important;
    }

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none;
    box-shadow: none;
    background: rgb(221, 48, 83); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd3053', endColorstr='#9933b2', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: rgb(221, 48, 83); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd3053', endColorstr='#9933b2', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.navbar-fixed-top {
    background: rgb(221, 48, 83); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd3053', endColorstr='#9933b2', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    color: #fff;
    transition: all 0.3s ease 0s;
    border: none;
}


.gradientBtn div span {
    color: rgba(221, 48, 83, 1);
}

.gradientBtn span {
    color: rgba(221, 48, 83, 1);
}

.borderBTn:hover {
    color: rgba(221, 48, 83, 1) !important;
}


.gradientBtn {
    border-radius: 5px;
    padding: 2px;
}

    .gradientBtn div {
        background-color: #fff;
        border-radius: 30px;
        font-family: open-regular;
        font-size: 15px;
        padding: 6px 30px;
        transition: all 0.3s ease 0s;
    }

.borderBTn:hover {
    background-color: #fff;
}

    .borderBTn:hover div {
        background: rgb(221, 48, 83); /* Old browsers */
        background: -moz-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd3053', endColorstr='#9933b2', GradientType=1); /* IE6-9 fallback on horizontal gradient */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

.gradientBtn:hover div {
    background: rgb(221, 48, 83); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd3053', endColorstr='#9933b2', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

    .gradientBtn:hover div span {
        color: #fff !important;
    }


/*Navbar styles end here */





/* banner styles start here */

.BannerPlayBtn:hover {
    background-color: #fff;
    cursor: pointer;
}

    .BannerPlayBtn:hover i {
        background: rgb(221, 48, 83); /* Old browsers */
        background: -moz-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd3053', endColorstr='#9933b2', GradientType=1); /* IE6-9 fallback on horizontal gradient */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

/* banner styles end here */







/*faq styles start  here*/

.panel.active .panel-heading, .panel.active .panel-body {
    background: rgb(221, 48, 83); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd3053', endColorstr='#9933b2', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    color: #ffffff;
}

.viewBlog {
    cursor: pointer;
    padding: 10px 17px;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
    background: rgb(221, 48, 83); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd3053', endColorstr='#9933b2', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    color: #fff;
}

/*faq styles end here*/





/* testimonials styles start here */

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: rgb(221, 48, 83); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd3053', endColorstr='#9933b2', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

/* testimonials styles end here */




/*services section styles start here*/

.ServiceBox:hover {
    margin-top: -10px;
    box-shadow: 0px 0px 15px rgba(221, 48, 83, 0.20);
}

.popularBox:hover {
    cursor: pointer;
    margin-top: -10px;
    box-shadow: 0px 0px 15px rgba(221, 48, 83, 0.20);
}

/*services section styles end here*/




/* blog overlay styles start here*/

.blogOverlay {
    background-color: rgba(221, 48, 83, 0.20);
}

/* blog overlay styles end here*/




/* footer styles goes here*/

footer ul li a:hover, footer ul li a:focus {
    text-decoration: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c65358+0,683986+100 */
    background: rgb(221, 48, 83); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(221, 48, 83, 1) 0%, rgba(153, 51, 178, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd3053', endColorstr='#9933b2', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
    width: 250px;
}
/* footer styles end here*/

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1023px 1861px #FFF, 1889px 1113px #FFF, 278px 1957px #FFF, 1528px 1418px #FFF, 1720px 654px #FFF, 1118px 484px #FFF, 570px 1113px #FFF, 892px 1919px #FFF, 390px 273px #FFF, 674px 1845px #FFF, 1984px 912px #FFF, 496px 321px #FFF, 413px 1074px #FFF, 895px 453px #FFF, 327px 1838px #FFF, 701px 170px #FFF, 1254px 978px #FFF, 698px 730px #FFF, 882px 463px #FFF, 501px 916px #FFF, 632px 386px #FFF, 1948px 651px #FFF, 1954px 1661px #FFF, 536px 1756px #FFF, 386px 328px #FFF, 249px 941px #FFF, 747px 826px #FFF, 491px 1102px #FFF, 706px 1916px #FFF, 1372px 862px #FFF, 1806px 1580px #FFF, 1318px 1284px #FFF, 783px 299px #FFF, 1437px 172px #FFF, 898px 1727px #FFF, 814px 147px #FFF, 1742px 810px #FFF, 897px 1181px #FFF, 1029px 1731px #FFF, 674px 1765px #FFF, 1061px 1372px #FFF, 874px 228px #FFF, 1530px 1121px #FFF, 665px 1786px #FFF, 1016px 1517px #FFF, 1182px 1454px #FFF, 502px 1991px #FFF, 205px 1727px #FFF, 1646px 1488px #FFF, 1882px 344px #FFF, 861px 174px #FFF, 1626px 1545px #FFF, 1234px 1447px #FFF, 960px 787px #FFF, 458px 1131px #FFF, 448px 1307px #FFF, 433px 1163px #FFF, 947px 1740px #FFF, 1226px 1014px #FFF, 210px 502px #FFF, 761px 247px #FFF, 1372px 1099px #FFF, 1788px 1925px #FFF, 1807px 1742px #FFF, 1467px 1614px #FFF, 1229px 913px #FFF, 213px 1239px #FFF, 84px 915px #FFF, 398px 1724px #FFF, 640px 525px #FFF, 193px 1781px #FFF, 1862px 1696px #FFF, 1593px 348px #FFF, 116px 1068px #FFF, 1932px 1227px #FFF, 704px 1152px #FFF, 487px 900px #FFF, 904px 1046px #FFF, 221px 1848px #FFF, 264px 209px #FFF, 818px 1403px #FFF, 1980px 1495px #FFF, 323px 1890px #FFF, 602px 398px #FFF, 1640px 854px #FFF, 1205px 335px #FFF, 1548px 700px #FFF, 1841px 1388px #FFF, 1947px 1198px #FFF, 758px 1642px #FFF, 342px 1235px #FFF, 114px 1667px #FFF, 1664px 1994px #FFF, 838px 1140px #FFF, 1914px 49px #FFF, 772px 1584px #FFF, 1850px 383px #FFF, 387px 1662px #FFF, 929px 1528px #FFF, 1476px 1690px #FFF, 1845px 1245px #FFF, 631px 481px #FFF, 916px 827px #FFF, 1896px 1791px #FFF, 19px 1398px #FFF, 179px 1152px #FFF, 1350px 1698px #FFF, 434px 1148px #FFF, 958px 42px #FFF, 1779px 1139px #FFF, 1182px 387px #FFF, 237px 1143px #FFF, 519px 553px #FFF, 1753px 643px #FFF, 1494px 1209px #FFF, 403px 12px #FFF, 764px 644px #FFF, 996px 281px #FFF, 603px 1556px #FFF, 318px 1820px #FFF, 959px 935px #FFF, 1981px 148px #FFF, 1043px 64px #FFF, 1927px 802px #FFF, 171px 1278px #FFF, 131px 412px #FFF, 1069px 274px #FFF, 887px 353px #FFF, 1768px 1236px #FFF, 12px 815px #FFF, 7px 1007px #FFF, 1500px 329px #FFF, 1856px 603px #FFF, 647px 784px #FFF, 1020px 1253px #FFF, 188px 1399px #FFF, 400px 116px #FFF, 360px 1012px #FFF, 1844px 126px #FFF, 1967px 944px #FFF, 238px 1452px #FFF, 1054px 1710px #FFF, 1631px 12px #FFF, 512px 1188px #FFF, 354px 1888px #FFF, 267px 758px #FFF, 273px 822px #FFF, 508px 678px #FFF, 697px 1969px #FFF, 449px 1304px #FFF, 1710px 854px #FFF, 416px 1625px #FFF, 1305px 1559px #FFF, 607px 804px #FFF, 417px 1379px #FFF, 1167px 256px #FFF, 201px 1061px #FFF, 1198px 456px #FFF, 567px 654px #FFF, 12px 1657px #FFF, 119px 1841px #FFF, 793px 391px #FFF, 33px 1467px #FFF, 1254px 701px #FFF, 872px 1757px #FFF, 1653px 1409px #FFF, 1667px 1340px #FFF, 866px 1324px #FFF, 1555px 272px #FFF, 1100px 610px #FFF, 945px 876px #FFF, 1605px 613px #FFF, 413px 728px #FFF, 1670px 1743px #FFF, 1103px 639px #FFF, 1565px 556px #FFF, 729px 62px #FFF, 274px 1440px #FFF, 1640px 1222px #FFF, 315px 1940px #FFF, 942px 130px #FFF, 1808px 1957px #FFF, 1586px 596px #FFF, 734px 667px #FFF, 237px 171px #FFF, 26px 219px #FFF, 864px 1827px #FFF, 584px 183px #FFF, 269px 388px #FFF, 175px 51px #FFF, 549px 1054px #FFF, 457px 633px #FFF, 1453px 1331px #FFF, 1766px 610px #FFF, 456px 1598px #FFF, 1945px 1541px #FFF, 410px 239px #FFF, 455px 583px #FFF, 1314px 1992px #FFF, 1588px 1245px #FFF, 132px 1924px #FFF, 1321px 1740px #FFF, 627px 10px #FFF, 769px 1290px #FFF, 1640px 818px #FFF, 1843px 1829px #FFF, 1509px 124px #FFF, 864px 1102px #FFF, 746px 1052px #FFF, 1562px 236px #FFF, 670px 1555px #FFF, 247px 2000px #FFF, 40px 479px #FFF, 1261px 1786px #FFF, 1188px 178px #FFF, 138px 749px #FFF, 1460px 1246px #FFF, 1871px 1641px #FFF, 1955px 588px #FFF, 1109px 355px #FFF, 773px 1667px #FFF, 587px 998px #FFF, 1522px 1246px #FFF, 130px 235px #FFF, 288px 962px #FFF, 236px 1367px #FFF, 1191px 1283px #FFF, 1078px 1327px #FFF, 1072px 483px #FFF, 1531px 534px #FFF, 1387px 473px #FFF, 64px 1201px #FFF, 129px 605px #FFF, 154px 771px #FFF, 1822px 1805px #FFF, 1784px 862px #FFF, 1317px 670px #FFF, 359px 1394px #FFF, 288px 358px #FFF, 533px 1222px #FFF, 1082px 1009px #FFF, 1885px 1990px #FFF, 572px 1698px #FFF, 1820px 1756px #FFF, 361px 1035px #FFF, 103px 1019px #FFF, 391px 1563px #FFF, 1900px 207px #FFF, 1917px 1704px #FFF, 1477px 1004px #FFF, 1657px 319px #FFF, 762px 365px #FFF, 309px 1421px #FFF, 913px 1997px #FFF, 747px 1357px #FFF, 927px 118px #FFF, 1326px 1982px #FFF, 855px 1705px #FFF, 755px 1523px #FFF, 338px 1595px #FFF, 394px 882px #FFF, 758px 350px #FFF, 982px 1194px #FFF, 1248px 1543px #FFF, 754px 1458px #FFF, 971px 839px #FFF, 381px 1736px #FFF, 141px 565px #FFF, 982px 544px #FFF, 892px 1326px #FFF, 1104px 1838px #FFF, 239px 343px #FFF, 565px 792px #FFF, 1688px 1640px #FFF, 1280px 1005px #FFF, 289px 82px #FFF, 1469px 995px #FFF, 831px 27px #FFF, 773px 1273px #FFF, 1564px 674px #FFF, 1595px 1686px #FFF, 1796px 1500px #FFF, 1509px 1166px #FFF, 1159px 62px #FFF, 1210px 1600px #FFF, 268px 832px #FFF, 209px 770px #FFF, 204px 1375px #FFF, 1696px 92px #FFF, 374px 1392px #FFF, 1677px 1905px #FFF, 634px 1996px #FFF, 148px 491px #FFF, 1141px 1102px #FFF, 1746px 1011px #FFF, 1532px 156px #FFF, 714px 647px #FFF, 1656px 1118px #FFF, 693px 1113px #FFF, 467px 118px #FFF, 1888px 1690px #FFF, 1547px 1842px #FFF, 1469px 1960px #FFF, 280px 940px #FFF, 315px 1555px #FFF, 789px 1206px #FFF, 1352px 1283px #FFF, 1746px 1879px #FFF, 1632px 1545px #FFF, 1767px 497px #FFF, 1917px 634px #FFF, 1637px 708px #FFF, 1495px 844px #FFF, 1735px 1558px #FFF, 607px 1216px #FFF, 171px 930px #FFF, 1624px 383px #FFF, 1745px 515px #FFF, 1659px 1455px #FFF, 1233px 1021px #FFF, 1566px 1281px #FFF, 440px 1557px #FFF, 1664px 1154px #FFF, 411px 452px #FFF, 729px 1955px #FFF, 1501px 117px #FFF, 1168px 1427px #FFF, 1580px 554px #FFF, 1196px 1158px #FFF, 1471px 871px #FFF, 382px 1234px #FFF, 615px 1542px #FFF, 1140px 53px #FFF, 346px 667px #FFF, 1798px 1336px #FFF, 1098px 1787px #FFF, 1478px 1810px #FFF, 1109px 449px #FFF, 1305px 1501px #FFF, 419px 1208px #FFF, 1356px 1164px #FFF, 899px 1829px #FFF, 1700px 930px #FFF, 1027px 403px #FFF, 575px 421px #FFF, 1225px 852px #FFF, 396px 1109px #FFF, 242px 649px #FFF, 33px 408px #FFF, 189px 988px #FFF, 781px 1953px #FFF, 879px 523px #FFF, 415px 173px #FFF, 697px 1067px #FFF, 1950px 1284px #FFF, 264px 293px #FFF, 317px 227px #FFF, 1546px 165px #FFF, 655px 773px #FFF, 1265px 207px #FFF, 1799px 557px #FFF, 1641px 1501px #FFF, 1243px 525px #FFF, 1905px 1418px #FFF, 1469px 20px #FFF, 1950px 1972px #FFF, 1871px 1735px #FFF, 580px 518px #FFF, 45px 601px #FFF, 298px 788px #FFF, 679px 259px #FFF, 387px 764px #FFF, 1325px 1181px #FFF, 1649px 1958px #FFF, 292px 1888px #FFF, 1836px 1835px #FFF, 980px 527px #FFF, 57px 1563px #FFF, 631px 1826px #FFF, 729px 1138px #FFF, 703px 325px #FFF, 700px 607px #FFF, 240px 310px #FFF, 1488px 1668px #FFF, 1464px 1038px #FFF, 552px 346px #FFF, 1203px 1713px #FFF, 1245px 811px #FFF, 968px 621px #FFF, 1104px 1425px #FFF, 1500px 1728px #FFF, 82px 1236px #FFF, 1528px 29px #FFF, 1419px 421px #FFF, 911px 859px #FFF, 483px 280px #FFF, 1270px 1765px #FFF, 819px 1009px #FFF, 847px 779px #FFF, 1044px 501px #FFF, 1265px 44px #FFF, 66px 772px #FFF, 600px 1872px #FFF, 1332px 1366px #FFF, 1604px 417px #FFF, 1589px 1119px #FFF, 369px 474px #FFF, 1481px 494px #FFF, 361px 463px #FFF, 735px 360px #FFF, 1161px 1973px #FFF, 688px 433px #FFF, 1799px 359px #FFF, 1549px 1213px #FFF, 1627px 1440px #FFF, 490px 110px #FFF, 24px 1906px #FFF, 881px 896px #FFF, 207px 324px #FFF, 1512px 54px #FFF, 1334px 1127px #FFF, 246px 1680px #FFF, 1032px 1380px #FFF, 931px 418px #FFF, 148px 1844px #FFF, 33px 1718px #FFF, 426px 1900px #FFF, 1895px 1615px #FFF, 1839px 636px #FFF, 1393px 650px #FFF, 1196px 288px #FFF, 1012px 1711px #FFF, 778px 1081px #FFF, 1727px 145px #FFF, 328px 756px #FFF, 406px 235px #FFF, 1827px 857px #FFF, 1310px 1484px #FFF, 278px 16px #FFF, 509px 435px #FFF, 1524px 163px #FFF, 566px 641px #FFF, 771px 846px #FFF, 1866px 1770px #FFF, 418px 1448px #FFF, 156px 1428px #FFF, 1108px 1405px #FFF, 1685px 369px #FFF, 1328px 251px #FFF, 1594px 1206px #FFF, 1223px 1766px #FFF, 1840px 418px #FFF, 1558px 591px #FFF, 694px 1464px #FFF, 1969px 707px #FFF, 293px 697px #FFF, 332px 884px #FFF, 1314px 1007px #FFF, 1003px 618px #FFF, 938px 381px #FFF, 1018px 1334px #FFF, 179px 1977px #FFF, 1658px 767px #FFF, 65px 1966px #FFF, 494px 1168px #FFF, 32px 1183px #FFF, 279px 681px #FFF, 919px 732px #FFF, 724px 925px #FFF, 251px 708px #FFF, 1023px 1688px #FFF, 673px 1630px #FFF, 105px 1434px #FFF, 335px 1218px #FFF, 1730px 502px #FFF, 1868px 1621px #FFF, 1336px 1635px #FFF, 1475px 1285px #FFF, 1391px 1669px #FFF, 1527px 1861px #FFF, 1500px 366px #FFF, 955px 1831px #FFF, 2000px 390px #FFF, 1964px 1408px #FFF, 798px 434px #FFF, 1997px 532px #FFF, 17px 1745px #FFF, 1543px 1879px #FFF, 1892px 1746px #FFF, 285px 402px #FFF, 150px 643px #FFF, 1275px 535px #FFF, 1063px 775px #FFF, 1628px 1963px #FFF, 1239px 889px #FFF, 842px 678px #FFF, 857px 456px #FFF, 834px 530px #FFF, 1472px 97px #FFF, 311px 800px #FFF, 1067px 1923px #FFF, 971px 776px #FFF, 812px 1113px #FFF, 115px 1214px #FFF, 1676px 1467px #FFF, 1587px 1221px #FFF, 1622px 1119px #FFF, 613px 1698px #FFF, 836px 864px #FFF, 636px 8px #FFF, 1994px 521px #FFF, 1965px 1889px #FFF, 216px 1333px #FFF, 1659px 978px #FFF, 1985px 983px #FFF, 1678px 89px #FFF, 1198px 1223px #FFF, 1961px 1871px #FFF, 1060px 1152px #FFF, 681px 86px #FFF, 1297px 80px #FFF, 1013px 1127px #FFF, 1225px 79px #FFF, 899px 1201px #FFF, 368px 367px #FFF, 344px 953px #FFF, 1214px 1589px #FFF, 951px 1112px #FFF, 1397px 287px #FFF, 1178px 1819px #FFF, 1449px 941px #FFF, 1254px 596px #FFF, 1057px 1546px #FFF, 795px 638px #FFF, 1377px 908px #FFF, 123px 286px #FFF, 603px 1895px #FFF, 343px 617px #FFF, 1629px 1881px #FFF, 685px 1266px #FFF, 935px 1315px #FFF, 363px 272px #FFF, 1375px 262px #FFF, 551px 173px #FFF, 1677px 1738px #FFF, 1350px 313px #FFF, 1774px 1343px #FFF, 1356px 1060px #FFF, 1398px 1042px #FFF, 1243px 1725px #FFF, 1480px 1324px #FFF, 637px 1433px #FFF, 775px 1197px #FFF, 1854px 643px #FFF, 875px 149px #FFF, 439px 173px #FFF, 464px 290px #FFF, 331px 1480px #FFF, 1172px 630px #FFF, 270px 1442px #FFF, 1907px 1562px #FFF, 578px 1291px #FFF, 728px 407px #FFF, 483px 444px #FFF, 167px 519px #FFF, 1293px 1366px #FFF, 282px 717px #FFF, 1221px 1688px #FFF, 218px 449px #FFF, 1325px 1315px #FFF, 926px 50px #FFF, 880px 550px #FFF, 470px 137px #FFF, 166px 845px #FFF, 1707px 685px #FFF, 1834px 1615px #FFF, 283px 594px #FFF, 678px 501px #FFF, 1814px 488px #FFF, 824px 514px #FFF, 1018px 587px #FFF, 1079px 1103px #FFF, 352px 186px #FFF, 307px 108px #FFF, 722px 298px #FFF, 570px 275px #FFF, 1190px 1038px #FFF, 1240px 902px #FFF, 1549px 849px #FFF, 1958px 1304px #FFF, 1645px 169px #FFF, 1292px 1791px #FFF, 1519px 1986px #FFF, 435px 928px #FFF, 1521px 959px #FFF, 1549px 1414px #FFF, 1460px 782px #FFF, 839px 976px #FFF, 93px 1122px #FFF, 1604px 1156px #FFF, 1035px 1390px #FFF, 675px 834px #FFF, 1355px 1499px #FFF, 1245px 412px #FFF, 1768px 120px #FFF, 1581px 1412px #FFF, 243px 1687px #FFF, 1464px 539px #FFF, 1611px 263px #FFF, 1478px 543px #FFF, 164px 193px #FFF, 875px 255px #FFF, 1489px 77px #FFF, 1607px 1424px #FFF, 1330px 795px #FFF, 68px 1169px #FFF, 812px 67px #FFF, 1118px 984px #FFF, 60px 1198px #FFF, 1503px 1937px #FFF, 1435px 427px #FFF, 515px 238px #FFF, 766px 123px #FFF, 365px 209px #FFF, 1869px 963px #FFF, 810px 325px #FFF, 1512px 1301px #FFF, 685px 1067px #FFF, 553px 83px #FFF, 1962px 1381px #FFF, 1728px 237px #FFF, 1278px 1328px #FFF, 635px 860px #FFF, 1777px 1755px #FFF, 119px 1601px #FFF, 470px 1360px #FFF, 374px 405px #FFF, 517px 954px #FFF, 456px 1131px #FFF, 226px 516px #FFF, 328px 1048px #FFF, 1463px 1853px #FFF, 764px 1042px #FFF, 1077px 976px #FFF, 1895px 106px #FFF, 1206px 786px #FFF, 1449px 623px #FFF, 181px 315px #FFF, 439px 1515px #FFF, 447px 729px #FFF, 740px 1905px #FFF, 580px 371px #FFF, 869px 514px #FFF, 1554px 1606px #FFF, 1082px 1752px #FFF, 530px 443px #FFF, 273px 11px #FFF, 1021px 1871px #FFF, 1931px 754px #FFF, 1596px 1397px #FFF, 1892px 1581px #FFF, 83px 1132px #FFF, 597px 719px #FFF, 510px 1776px #FFF, 1284px 863px #FFF, 1881px 1475px #FFF, 1350px 373px #FFF, 1020px 1181px #FFF, 1992px 1089px #FFF, 1383px 1756px #FFF, 792px 1728px #FFF, 1759px 3px #FFF, 1918px 1494px #FFF, 1129px 1438px #FFF, 1523px 941px #FFF, 284px 1903px #FFF, 628px 1210px #FFF, 983px 1666px #FFF, 1108px 210px #FFF, 1354px 1913px #FFF, 1020px 1186px #FFF, 1084px 1221px #FFF, 1380px 264px #FFF, 1067px 1453px #FFF, 448px 1284px #FFF, 1649px 1948px #FFF, 1693px 1514px #FFF, 1971px 27px #FFF, 779px 1766px #FFF, 485px 746px #FFF, 1924px 768px #FFF, 816px 1217px #FFF, 1867px 1782px #FFF, 540px 1649px #FFF, 1633px 714px #FFF, 12px 722px #FFF, 823px 525px #FFF, 1377px 1392px #FFF, 1961px 247px #FFF, 835px 1206px #FFF;
    animation: animStar 50s linear infinite;
}

    #stars:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: 1023px 1861px #FFF, 1889px 1113px #FFF, 278px 1957px #FFF, 1528px 1418px #FFF, 1720px 654px #FFF, 1118px 484px #FFF, 570px 1113px #FFF, 892px 1919px #FFF, 390px 273px #FFF, 674px 1845px #FFF, 1984px 912px #FFF, 496px 321px #FFF, 413px 1074px #FFF, 895px 453px #FFF, 327px 1838px #FFF, 701px 170px #FFF, 1254px 978px #FFF, 698px 730px #FFF, 882px 463px #FFF, 501px 916px #FFF, 632px 386px #FFF, 1948px 651px #FFF, 1954px 1661px #FFF, 536px 1756px #FFF, 386px 328px #FFF, 249px 941px #FFF, 747px 826px #FFF, 491px 1102px #FFF, 706px 1916px #FFF, 1372px 862px #FFF, 1806px 1580px #FFF, 1318px 1284px #FFF, 783px 299px #FFF, 1437px 172px #FFF, 898px 1727px #FFF, 814px 147px #FFF, 1742px 810px #FFF, 897px 1181px #FFF, 1029px 1731px #FFF, 674px 1765px #FFF, 1061px 1372px #FFF, 874px 228px #FFF, 1530px 1121px #FFF, 665px 1786px #FFF, 1016px 1517px #FFF, 1182px 1454px #FFF, 502px 1991px #FFF, 205px 1727px #FFF, 1646px 1488px #FFF, 1882px 344px #FFF, 861px 174px #FFF, 1626px 1545px #FFF, 1234px 1447px #FFF, 960px 787px #FFF, 458px 1131px #FFF, 448px 1307px #FFF, 433px 1163px #FFF, 947px 1740px #FFF, 1226px 1014px #FFF, 210px 502px #FFF, 761px 247px #FFF, 1372px 1099px #FFF, 1788px 1925px #FFF, 1807px 1742px #FFF, 1467px 1614px #FFF, 1229px 913px #FFF, 213px 1239px #FFF, 84px 915px #FFF, 398px 1724px #FFF, 640px 525px #FFF, 193px 1781px #FFF, 1862px 1696px #FFF, 1593px 348px #FFF, 116px 1068px #FFF, 1932px 1227px #FFF, 704px 1152px #FFF, 487px 900px #FFF, 904px 1046px #FFF, 221px 1848px #FFF, 264px 209px #FFF, 818px 1403px #FFF, 1980px 1495px #FFF, 323px 1890px #FFF, 602px 398px #FFF, 1640px 854px #FFF, 1205px 335px #FFF, 1548px 700px #FFF, 1841px 1388px #FFF, 1947px 1198px #FFF, 758px 1642px #FFF, 342px 1235px #FFF, 114px 1667px #FFF, 1664px 1994px #FFF, 838px 1140px #FFF, 1914px 49px #FFF, 772px 1584px #FFF, 1850px 383px #FFF, 387px 1662px #FFF, 929px 1528px #FFF, 1476px 1690px #FFF, 1845px 1245px #FFF, 631px 481px #FFF, 916px 827px #FFF, 1896px 1791px #FFF, 19px 1398px #FFF, 179px 1152px #FFF, 1350px 1698px #FFF, 434px 1148px #FFF, 958px 42px #FFF, 1779px 1139px #FFF, 1182px 387px #FFF, 237px 1143px #FFF, 519px 553px #FFF, 1753px 643px #FFF, 1494px 1209px #FFF, 403px 12px #FFF, 764px 644px #FFF, 996px 281px #FFF, 603px 1556px #FFF, 318px 1820px #FFF, 959px 935px #FFF, 1981px 148px #FFF, 1043px 64px #FFF, 1927px 802px #FFF, 171px 1278px #FFF, 131px 412px #FFF, 1069px 274px #FFF, 887px 353px #FFF, 1768px 1236px #FFF, 12px 815px #FFF, 7px 1007px #FFF, 1500px 329px #FFF, 1856px 603px #FFF, 647px 784px #FFF, 1020px 1253px #FFF, 188px 1399px #FFF, 400px 116px #FFF, 360px 1012px #FFF, 1844px 126px #FFF, 1967px 944px #FFF, 238px 1452px #FFF, 1054px 1710px #FFF, 1631px 12px #FFF, 512px 1188px #FFF, 354px 1888px #FFF, 267px 758px #FFF, 273px 822px #FFF, 508px 678px #FFF, 697px 1969px #FFF, 449px 1304px #FFF, 1710px 854px #FFF, 416px 1625px #FFF, 1305px 1559px #FFF, 607px 804px #FFF, 417px 1379px #FFF, 1167px 256px #FFF, 201px 1061px #FFF, 1198px 456px #FFF, 567px 654px #FFF, 12px 1657px #FFF, 119px 1841px #FFF, 793px 391px #FFF, 33px 1467px #FFF, 1254px 701px #FFF, 872px 1757px #FFF, 1653px 1409px #FFF, 1667px 1340px #FFF, 866px 1324px #FFF, 1555px 272px #FFF, 1100px 610px #FFF, 945px 876px #FFF, 1605px 613px #FFF, 413px 728px #FFF, 1670px 1743px #FFF, 1103px 639px #FFF, 1565px 556px #FFF, 729px 62px #FFF, 274px 1440px #FFF, 1640px 1222px #FFF, 315px 1940px #FFF, 942px 130px #FFF, 1808px 1957px #FFF, 1586px 596px #FFF, 734px 667px #FFF, 237px 171px #FFF, 26px 219px #FFF, 864px 1827px #FFF, 584px 183px #FFF, 269px 388px #FFF, 175px 51px #FFF, 549px 1054px #FFF, 457px 633px #FFF, 1453px 1331px #FFF, 1766px 610px #FFF, 456px 1598px #FFF, 1945px 1541px #FFF, 410px 239px #FFF, 455px 583px #FFF, 1314px 1992px #FFF, 1588px 1245px #FFF, 132px 1924px #FFF, 1321px 1740px #FFF, 627px 10px #FFF, 769px 1290px #FFF, 1640px 818px #FFF, 1843px 1829px #FFF, 1509px 124px #FFF, 864px 1102px #FFF, 746px 1052px #FFF, 1562px 236px #FFF, 670px 1555px #FFF, 247px 2000px #FFF, 40px 479px #FFF, 1261px 1786px #FFF, 1188px 178px #FFF, 138px 749px #FFF, 1460px 1246px #FFF, 1871px 1641px #FFF, 1955px 588px #FFF, 1109px 355px #FFF, 773px 1667px #FFF, 587px 998px #FFF, 1522px 1246px #FFF, 130px 235px #FFF, 288px 962px #FFF, 236px 1367px #FFF, 1191px 1283px #FFF, 1078px 1327px #FFF, 1072px 483px #FFF, 1531px 534px #FFF, 1387px 473px #FFF, 64px 1201px #FFF, 129px 605px #FFF, 154px 771px #FFF, 1822px 1805px #FFF, 1784px 862px #FFF, 1317px 670px #FFF, 359px 1394px #FFF, 288px 358px #FFF, 533px 1222px #FFF, 1082px 1009px #FFF, 1885px 1990px #FFF, 572px 1698px #FFF, 1820px 1756px #FFF, 361px 1035px #FFF, 103px 1019px #FFF, 391px 1563px #FFF, 1900px 207px #FFF, 1917px 1704px #FFF, 1477px 1004px #FFF, 1657px 319px #FFF, 762px 365px #FFF, 309px 1421px #FFF, 913px 1997px #FFF, 747px 1357px #FFF, 927px 118px #FFF, 1326px 1982px #FFF, 855px 1705px #FFF, 755px 1523px #FFF, 338px 1595px #FFF, 394px 882px #FFF, 758px 350px #FFF, 982px 1194px #FFF, 1248px 1543px #FFF, 754px 1458px #FFF, 971px 839px #FFF, 381px 1736px #FFF, 141px 565px #FFF, 982px 544px #FFF, 892px 1326px #FFF, 1104px 1838px #FFF, 239px 343px #FFF, 565px 792px #FFF, 1688px 1640px #FFF, 1280px 1005px #FFF, 289px 82px #FFF, 1469px 995px #FFF, 831px 27px #FFF, 773px 1273px #FFF, 1564px 674px #FFF, 1595px 1686px #FFF, 1796px 1500px #FFF, 1509px 1166px #FFF, 1159px 62px #FFF, 1210px 1600px #FFF, 268px 832px #FFF, 209px 770px #FFF, 204px 1375px #FFF, 1696px 92px #FFF, 374px 1392px #FFF, 1677px 1905px #FFF, 634px 1996px #FFF, 148px 491px #FFF, 1141px 1102px #FFF, 1746px 1011px #FFF, 1532px 156px #FFF, 714px 647px #FFF, 1656px 1118px #FFF, 693px 1113px #FFF, 467px 118px #FFF, 1888px 1690px #FFF, 1547px 1842px #FFF, 1469px 1960px #FFF, 280px 940px #FFF, 315px 1555px #FFF, 789px 1206px #FFF, 1352px 1283px #FFF, 1746px 1879px #FFF, 1632px 1545px #FFF, 1767px 497px #FFF, 1917px 634px #FFF, 1637px 708px #FFF, 1495px 844px #FFF, 1735px 1558px #FFF, 607px 1216px #FFF, 171px 930px #FFF, 1624px 383px #FFF, 1745px 515px #FFF, 1659px 1455px #FFF, 1233px 1021px #FFF, 1566px 1281px #FFF, 440px 1557px #FFF, 1664px 1154px #FFF, 411px 452px #FFF, 729px 1955px #FFF, 1501px 117px #FFF, 1168px 1427px #FFF, 1580px 554px #FFF, 1196px 1158px #FFF, 1471px 871px #FFF, 382px 1234px #FFF, 615px 1542px #FFF, 1140px 53px #FFF, 346px 667px #FFF, 1798px 1336px #FFF, 1098px 1787px #FFF, 1478px 1810px #FFF, 1109px 449px #FFF, 1305px 1501px #FFF, 419px 1208px #FFF, 1356px 1164px #FFF, 899px 1829px #FFF, 1700px 930px #FFF, 1027px 403px #FFF, 575px 421px #FFF, 1225px 852px #FFF, 396px 1109px #FFF, 242px 649px #FFF, 33px 408px #FFF, 189px 988px #FFF, 781px 1953px #FFF, 879px 523px #FFF, 415px 173px #FFF, 697px 1067px #FFF, 1950px 1284px #FFF, 264px 293px #FFF, 317px 227px #FFF, 1546px 165px #FFF, 655px 773px #FFF, 1265px 207px #FFF, 1799px 557px #FFF, 1641px 1501px #FFF, 1243px 525px #FFF, 1905px 1418px #FFF, 1469px 20px #FFF, 1950px 1972px #FFF, 1871px 1735px #FFF, 580px 518px #FFF, 45px 601px #FFF, 298px 788px #FFF, 679px 259px #FFF, 387px 764px #FFF, 1325px 1181px #FFF, 1649px 1958px #FFF, 292px 1888px #FFF, 1836px 1835px #FFF, 980px 527px #FFF, 57px 1563px #FFF, 631px 1826px #FFF, 729px 1138px #FFF, 703px 325px #FFF, 700px 607px #FFF, 240px 310px #FFF, 1488px 1668px #FFF, 1464px 1038px #FFF, 552px 346px #FFF, 1203px 1713px #FFF, 1245px 811px #FFF, 968px 621px #FFF, 1104px 1425px #FFF, 1500px 1728px #FFF, 82px 1236px #FFF, 1528px 29px #FFF, 1419px 421px #FFF, 911px 859px #FFF, 483px 280px #FFF, 1270px 1765px #FFF, 819px 1009px #FFF, 847px 779px #FFF, 1044px 501px #FFF, 1265px 44px #FFF, 66px 772px #FFF, 600px 1872px #FFF, 1332px 1366px #FFF, 1604px 417px #FFF, 1589px 1119px #FFF, 369px 474px #FFF, 1481px 494px #FFF, 361px 463px #FFF, 735px 360px #FFF, 1161px 1973px #FFF, 688px 433px #FFF, 1799px 359px #FFF, 1549px 1213px #FFF, 1627px 1440px #FFF, 490px 110px #FFF, 24px 1906px #FFF, 881px 896px #FFF, 207px 324px #FFF, 1512px 54px #FFF, 1334px 1127px #FFF, 246px 1680px #FFF, 1032px 1380px #FFF, 931px 418px #FFF, 148px 1844px #FFF, 33px 1718px #FFF, 426px 1900px #FFF, 1895px 1615px #FFF, 1839px 636px #FFF, 1393px 650px #FFF, 1196px 288px #FFF, 1012px 1711px #FFF, 778px 1081px #FFF, 1727px 145px #FFF, 328px 756px #FFF, 406px 235px #FFF, 1827px 857px #FFF, 1310px 1484px #FFF, 278px 16px #FFF, 509px 435px #FFF, 1524px 163px #FFF, 566px 641px #FFF, 771px 846px #FFF, 1866px 1770px #FFF, 418px 1448px #FFF, 156px 1428px #FFF, 1108px 1405px #FFF, 1685px 369px #FFF, 1328px 251px #FFF, 1594px 1206px #FFF, 1223px 1766px #FFF, 1840px 418px #FFF, 1558px 591px #FFF, 694px 1464px #FFF, 1969px 707px #FFF, 293px 697px #FFF, 332px 884px #FFF, 1314px 1007px #FFF, 1003px 618px #FFF, 938px 381px #FFF, 1018px 1334px #FFF, 179px 1977px #FFF, 1658px 767px #FFF, 65px 1966px #FFF, 494px 1168px #FFF, 32px 1183px #FFF, 279px 681px #FFF, 919px 732px #FFF, 724px 925px #FFF, 251px 708px #FFF, 1023px 1688px #FFF, 673px 1630px #FFF, 105px 1434px #FFF, 335px 1218px #FFF, 1730px 502px #FFF, 1868px 1621px #FFF, 1336px 1635px #FFF, 1475px 1285px #FFF, 1391px 1669px #FFF, 1527px 1861px #FFF, 1500px 366px #FFF, 955px 1831px #FFF, 2000px 390px #FFF, 1964px 1408px #FFF, 798px 434px #FFF, 1997px 532px #FFF, 17px 1745px #FFF, 1543px 1879px #FFF, 1892px 1746px #FFF, 285px 402px #FFF, 150px 643px #FFF, 1275px 535px #FFF, 1063px 775px #FFF, 1628px 1963px #FFF, 1239px 889px #FFF, 842px 678px #FFF, 857px 456px #FFF, 834px 530px #FFF, 1472px 97px #FFF, 311px 800px #FFF, 1067px 1923px #FFF, 971px 776px #FFF, 812px 1113px #FFF, 115px 1214px #FFF, 1676px 1467px #FFF, 1587px 1221px #FFF, 1622px 1119px #FFF, 613px 1698px #FFF, 836px 864px #FFF, 636px 8px #FFF, 1994px 521px #FFF, 1965px 1889px #FFF, 216px 1333px #FFF, 1659px 978px #FFF, 1985px 983px #FFF, 1678px 89px #FFF, 1198px 1223px #FFF, 1961px 1871px #FFF, 1060px 1152px #FFF, 681px 86px #FFF, 1297px 80px #FFF, 1013px 1127px #FFF, 1225px 79px #FFF, 899px 1201px #FFF, 368px 367px #FFF, 344px 953px #FFF, 1214px 1589px #FFF, 951px 1112px #FFF, 1397px 287px #FFF, 1178px 1819px #FFF, 1449px 941px #FFF, 1254px 596px #FFF, 1057px 1546px #FFF, 795px 638px #FFF, 1377px 908px #FFF, 123px 286px #FFF, 603px 1895px #FFF, 343px 617px #FFF, 1629px 1881px #FFF, 685px 1266px #FFF, 935px 1315px #FFF, 363px 272px #FFF, 1375px 262px #FFF, 551px 173px #FFF, 1677px 1738px #FFF, 1350px 313px #FFF, 1774px 1343px #FFF, 1356px 1060px #FFF, 1398px 1042px #FFF, 1243px 1725px #FFF, 1480px 1324px #FFF, 637px 1433px #FFF, 775px 1197px #FFF, 1854px 643px #FFF, 875px 149px #FFF, 439px 173px #FFF, 464px 290px #FFF, 331px 1480px #FFF, 1172px 630px #FFF, 270px 1442px #FFF, 1907px 1562px #FFF, 578px 1291px #FFF, 728px 407px #FFF, 483px 444px #FFF, 167px 519px #FFF, 1293px 1366px #FFF, 282px 717px #FFF, 1221px 1688px #FFF, 218px 449px #FFF, 1325px 1315px #FFF, 926px 50px #FFF, 880px 550px #FFF, 470px 137px #FFF, 166px 845px #FFF, 1707px 685px #FFF, 1834px 1615px #FFF, 283px 594px #FFF, 678px 501px #FFF, 1814px 488px #FFF, 824px 514px #FFF, 1018px 587px #FFF, 1079px 1103px #FFF, 352px 186px #FFF, 307px 108px #FFF, 722px 298px #FFF, 570px 275px #FFF, 1190px 1038px #FFF, 1240px 902px #FFF, 1549px 849px #FFF, 1958px 1304px #FFF, 1645px 169px #FFF, 1292px 1791px #FFF, 1519px 1986px #FFF, 435px 928px #FFF, 1521px 959px #FFF, 1549px 1414px #FFF, 1460px 782px #FFF, 839px 976px #FFF, 93px 1122px #FFF, 1604px 1156px #FFF, 1035px 1390px #FFF, 675px 834px #FFF, 1355px 1499px #FFF, 1245px 412px #FFF, 1768px 120px #FFF, 1581px 1412px #FFF, 243px 1687px #FFF, 1464px 539px #FFF, 1611px 263px #FFF, 1478px 543px #FFF, 164px 193px #FFF, 875px 255px #FFF, 1489px 77px #FFF, 1607px 1424px #FFF, 1330px 795px #FFF, 68px 1169px #FFF, 812px 67px #FFF, 1118px 984px #FFF, 60px 1198px #FFF, 1503px 1937px #FFF, 1435px 427px #FFF, 515px 238px #FFF, 766px 123px #FFF, 365px 209px #FFF, 1869px 963px #FFF, 810px 325px #FFF, 1512px 1301px #FFF, 685px 1067px #FFF, 553px 83px #FFF, 1962px 1381px #FFF, 1728px 237px #FFF, 1278px 1328px #FFF, 635px 860px #FFF, 1777px 1755px #FFF, 119px 1601px #FFF, 470px 1360px #FFF, 374px 405px #FFF, 517px 954px #FFF, 456px 1131px #FFF, 226px 516px #FFF, 328px 1048px #FFF, 1463px 1853px #FFF, 764px 1042px #FFF, 1077px 976px #FFF, 1895px 106px #FFF, 1206px 786px #FFF, 1449px 623px #FFF, 181px 315px #FFF, 439px 1515px #FFF, 447px 729px #FFF, 740px 1905px #FFF, 580px 371px #FFF, 869px 514px #FFF, 1554px 1606px #FFF, 1082px 1752px #FFF, 530px 443px #FFF, 273px 11px #FFF, 1021px 1871px #FFF, 1931px 754px #FFF, 1596px 1397px #FFF, 1892px 1581px #FFF, 83px 1132px #FFF, 597px 719px #FFF, 510px 1776px #FFF, 1284px 863px #FFF, 1881px 1475px #FFF, 1350px 373px #FFF, 1020px 1181px #FFF, 1992px 1089px #FFF, 1383px 1756px #FFF, 792px 1728px #FFF, 1759px 3px #FFF, 1918px 1494px #FFF, 1129px 1438px #FFF, 1523px 941px #FFF, 284px 1903px #FFF, 628px 1210px #FFF, 983px 1666px #FFF, 1108px 210px #FFF, 1354px 1913px #FFF, 1020px 1186px #FFF, 1084px 1221px #FFF, 1380px 264px #FFF, 1067px 1453px #FFF, 448px 1284px #FFF, 1649px 1948px #FFF, 1693px 1514px #FFF, 1971px 27px #FFF, 779px 1766px #FFF, 485px 746px #FFF, 1924px 768px #FFF, 816px 1217px #FFF, 1867px 1782px #FFF, 540px 1649px #FFF, 1633px 714px #FFF, 12px 722px #FFF, 823px 525px #FFF, 1377px 1392px #FFF, 1961px 247px #FFF, 835px 1206px #FFF;
    }

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1993px 994px #FFF, 1199px 1752px #FFF, 166px 788px #FFF, 560px 797px #FFF, 256px 959px #FFF, 1479px 1292px #FFF, 1829px 700px #FFF, 1876px 288px #FFF, 1055px 941px #FFF, 1429px 1732px #FFF, 1539px 1151px #FFF, 563px 381px #FFF, 1211px 675px #FFF, 944px 162px #FFF, 1099px 1546px #FFF, 248px 750px #FFF, 1054px 1905px #FFF, 994px 1690px #FFF, 1439px 1019px #FFF, 1969px 327px #FFF, 1120px 545px #FFF, 1853px 364px #FFF, 768px 1636px #FFF, 1234px 1065px #FFF, 751px 380px #FFF, 1359px 126px #FFF, 1112px 1676px #FFF, 201px 38px #FFF, 1358px 734px #FFF, 883px 1332px #FFF, 1953px 1104px #FFF, 1483px 988px #FFF, 775px 492px #FFF, 1118px 1620px #FFF, 619px 1187px #FFF, 649px 1111px #FFF, 1748px 1913px #FFF, 1222px 1547px #FFF, 425px 786px #FFF, 1574px 708px #FFF, 1858px 1210px #FFF, 1832px 1952px #FFF, 1874px 1808px #FFF, 145px 1601px #FFF, 693px 855px #FFF, 996px 614px #FFF, 1852px 941px #FFF, 1554px 1773px #FFF, 1666px 349px #FFF, 1031px 1891px #FFF, 208px 1368px #FFF, 14px 795px #FFF, 1424px 148px #FFF, 319px 704px #FFF, 553px 7px #FFF, 1282px 1827px #FFF, 1908px 1293px #FFF, 577px 335px #FFF, 61px 708px #FFF, 1595px 449px #FFF, 968px 1498px #FFF, 1600px 143px #FFF, 399px 143px #FFF, 243px 1888px #FFF, 768px 233px #FFF, 525px 379px #FFF, 1643px 746px #FFF, 511px 1899px #FFF, 626px 645px #FFF, 945px 1814px #FFF, 671px 1034px #FFF, 1420px 953px #FFF, 1680px 1317px #FFF, 55px 437px #FFF, 662px 1565px #FFF, 1846px 712px #FFF, 375px 1270px #FFF, 51px 1410px #FFF, 12px 441px #FFF, 327px 1372px #FFF, 1189px 230px #FFF, 57px 1710px #FFF, 1506px 1346px #FFF, 1437px 1326px #FFF, 921px 414px #FFF, 552px 1030px #FFF, 1092px 708px #FFF, 1524px 513px #FFF, 938px 1031px #FFF, 1074px 698px #FFF, 1960px 1061px #FFF, 170px 127px #FFF, 79px 1848px #FFF, 661px 1160px #FFF, 1157px 360px #FFF, 1871px 819px #FFF, 1336px 1094px #FFF, 1247px 1318px #FFF, 1617px 1649px #FFF, 1766px 141px #FFF, 1259px 1227px #FFF, 1284px 1636px #FFF, 232px 649px #FFF, 287px 800px #FFF, 912px 376px #FFF, 562px 422px #FFF, 667px 541px #FFF, 671px 1582px #FFF, 232px 408px #FFF, 1182px 968px #FFF, 286px 1682px #FFF, 1806px 548px #FFF, 200px 1729px #FFF, 55px 921px #FFF, 928px 1728px #FFF, 963px 1994px #FFF, 703px 1369px #FFF, 701px 1026px #FFF, 330px 1013px #FFF, 920px 1726px #FFF, 714px 754px #FFF, 1765px 677px #FFF, 877px 222px #FFF, 65px 1319px #FFF, 526px 1096px #FFF, 1400px 898px #FFF, 14px 97px #FFF, 1483px 888px #FFF, 333px 330px #FFF, 916px 1402px #FFF, 398px 642px #FFF, 137px 418px #FFF, 605px 309px #FFF, 357px 878px #FFF, 1260px 569px #FFF, 1482px 799px #FFF, 524px 654px #FFF, 1421px 611px #FFF, 1827px 316px #FFF, 866px 1280px #FFF, 1981px 526px #FFF, 260px 560px #FFF, 908px 646px #FFF, 1950px 1746px #FFF, 780px 1162px #FFF, 1309px 1007px #FFF, 413px 1868px #FFF, 562px 1764px #FFF, 526px 717px #FFF, 351px 1516px #FFF, 1951px 1947px #FFF, 736px 805px #FFF, 668px 893px #FFF, 1905px 1443px #FFF, 753px 759px #FFF, 1456px 810px #FFF, 726px 1202px #FFF, 1772px 1219px #FFF, 1466px 193px #FFF, 57px 341px #FFF, 1523px 1673px #FFF, 1762px 1568px #FFF, 1158px 1101px #FFF, 1649px 1276px #FFF, 734px 1538px #FFF, 913px 900px #FFF, 182px 1980px #FFF, 283px 1353px #FFF, 531px 266px #FFF, 1723px 744px #FFF, 717px 63px #FFF, 635px 532px #FFF, 979px 215px #FFF, 636px 920px #FFF, 613px 1933px #FFF, 209px 456px #FFF, 695px 497px #FFF, 1648px 1844px #FFF, 820px 653px #FFF, 163px 49px #FFF, 697px 653px #FFF, 306px 1513px #FFF, 638px 1214px #FFF, 506px 1773px #FFF, 1508px 187px #FFF, 1092px 5px #FFF, 1563px 1811px #FFF, 462px 1591px #FFF, 1313px 493px #FFF, 1984px 353px #FFF, 12px 109px #FFF, 1105px 415px #FFF, 1104px 578px #FFF, 1941px 700px #FFF, 211px 97px #FFF, 905px 1538px #FFF, 1025px 1562px #FFF, 1880px 1931px #FFF, 734px 1929px #FFF, 1746px 1876px #FFF;
    animation: animStar 100s linear infinite;
}

    #stars2:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: 1993px 994px #FFF, 1199px 1752px #FFF, 166px 788px #FFF, 560px 797px #FFF, 256px 959px #FFF, 1479px 1292px #FFF, 1829px 700px #FFF, 1876px 288px #FFF, 1055px 941px #FFF, 1429px 1732px #FFF, 1539px 1151px #FFF, 563px 381px #FFF, 1211px 675px #FFF, 944px 162px #FFF, 1099px 1546px #FFF, 248px 750px #FFF, 1054px 1905px #FFF, 994px 1690px #FFF, 1439px 1019px #FFF, 1969px 327px #FFF, 1120px 545px #FFF, 1853px 364px #FFF, 768px 1636px #FFF, 1234px 1065px #FFF, 751px 380px #FFF, 1359px 126px #FFF, 1112px 1676px #FFF, 201px 38px #FFF, 1358px 734px #FFF, 883px 1332px #FFF, 1953px 1104px #FFF, 1483px 988px #FFF, 775px 492px #FFF, 1118px 1620px #FFF, 619px 1187px #FFF, 649px 1111px #FFF, 1748px 1913px #FFF, 1222px 1547px #FFF, 425px 786px #FFF, 1574px 708px #FFF, 1858px 1210px #FFF, 1832px 1952px #FFF, 1874px 1808px #FFF, 145px 1601px #FFF, 693px 855px #FFF, 996px 614px #FFF, 1852px 941px #FFF, 1554px 1773px #FFF, 1666px 349px #FFF, 1031px 1891px #FFF, 208px 1368px #FFF, 14px 795px #FFF, 1424px 148px #FFF, 319px 704px #FFF, 553px 7px #FFF, 1282px 1827px #FFF, 1908px 1293px #FFF, 577px 335px #FFF, 61px 708px #FFF, 1595px 449px #FFF, 968px 1498px #FFF, 1600px 143px #FFF, 399px 143px #FFF, 243px 1888px #FFF, 768px 233px #FFF, 525px 379px #FFF, 1643px 746px #FFF, 511px 1899px #FFF, 626px 645px #FFF, 945px 1814px #FFF, 671px 1034px #FFF, 1420px 953px #FFF, 1680px 1317px #FFF, 55px 437px #FFF, 662px 1565px #FFF, 1846px 712px #FFF, 375px 1270px #FFF, 51px 1410px #FFF, 12px 441px #FFF, 327px 1372px #FFF, 1189px 230px #FFF, 57px 1710px #FFF, 1506px 1346px #FFF, 1437px 1326px #FFF, 921px 414px #FFF, 552px 1030px #FFF, 1092px 708px #FFF, 1524px 513px #FFF, 938px 1031px #FFF, 1074px 698px #FFF, 1960px 1061px #FFF, 170px 127px #FFF, 79px 1848px #FFF, 661px 1160px #FFF, 1157px 360px #FFF, 1871px 819px #FFF, 1336px 1094px #FFF, 1247px 1318px #FFF, 1617px 1649px #FFF, 1766px 141px #FFF, 1259px 1227px #FFF, 1284px 1636px #FFF, 232px 649px #FFF, 287px 800px #FFF, 912px 376px #FFF, 562px 422px #FFF, 667px 541px #FFF, 671px 1582px #FFF, 232px 408px #FFF, 1182px 968px #FFF, 286px 1682px #FFF, 1806px 548px #FFF, 200px 1729px #FFF, 55px 921px #FFF, 928px 1728px #FFF, 963px 1994px #FFF, 703px 1369px #FFF, 701px 1026px #FFF, 330px 1013px #FFF, 920px 1726px #FFF, 714px 754px #FFF, 1765px 677px #FFF, 877px 222px #FFF, 65px 1319px #FFF, 526px 1096px #FFF, 1400px 898px #FFF, 14px 97px #FFF, 1483px 888px #FFF, 333px 330px #FFF, 916px 1402px #FFF, 398px 642px #FFF, 137px 418px #FFF, 605px 309px #FFF, 357px 878px #FFF, 1260px 569px #FFF, 1482px 799px #FFF, 524px 654px #FFF, 1421px 611px #FFF, 1827px 316px #FFF, 866px 1280px #FFF, 1981px 526px #FFF, 260px 560px #FFF, 908px 646px #FFF, 1950px 1746px #FFF, 780px 1162px #FFF, 1309px 1007px #FFF, 413px 1868px #FFF, 562px 1764px #FFF, 526px 717px #FFF, 351px 1516px #FFF, 1951px 1947px #FFF, 736px 805px #FFF, 668px 893px #FFF, 1905px 1443px #FFF, 753px 759px #FFF, 1456px 810px #FFF, 726px 1202px #FFF, 1772px 1219px #FFF, 1466px 193px #FFF, 57px 341px #FFF, 1523px 1673px #FFF, 1762px 1568px #FFF, 1158px 1101px #FFF, 1649px 1276px #FFF, 734px 1538px #FFF, 913px 900px #FFF, 182px 1980px #FFF, 283px 1353px #FFF, 531px 266px #FFF, 1723px 744px #FFF, 717px 63px #FFF, 635px 532px #FFF, 979px 215px #FFF, 636px 920px #FFF, 613px 1933px #FFF, 209px 456px #FFF, 695px 497px #FFF, 1648px 1844px #FFF, 820px 653px #FFF, 163px 49px #FFF, 697px 653px #FFF, 306px 1513px #FFF, 638px 1214px #FFF, 506px 1773px #FFF, 1508px 187px #FFF, 1092px 5px #FFF, 1563px 1811px #FFF, 462px 1591px #FFF, 1313px 493px #FFF, 1984px 353px #FFF, 12px 109px #FFF, 1105px 415px #FFF, 1104px 578px #FFF, 1941px 700px #FFF, 211px 97px #FFF, 905px 1538px #FFF, 1025px 1562px #FFF, 1880px 1931px #FFF, 734px 1929px #FFF, 1746px 1876px #FFF;
    }

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 119px 220px #FFF, 1720px 1165px #FFF, 1537px 1462px #FFF, 1754px 137px #FFF, 108px 1381px #FFF, 307px 1390px #FFF, 1416px 531px #FFF, 58px 1584px #FFF, 1888px 202px #FFF, 1580px 85px #FFF, 847px 1752px #FFF, 1945px 1927px #FFF, 1548px 1396px #FFF, 312px 1127px #FFF, 143px 1601px #FFF, 1883px 1746px #FFF, 1105px 1876px #FFF, 873px 1291px #FFF, 1453px 814px #FFF, 1077px 1413px #FFF, 291px 1543px #FFF, 1461px 1770px #FFF, 1884px 1185px #FFF, 355px 1667px #FFF, 1593px 303px #FFF, 849px 300px #FFF, 1756px 59px #FFF, 1830px 1481px #FFF, 1016px 1219px #FFF, 740px 1564px #FFF, 1215px 481px #FFF, 104px 550px #FFF, 1790px 1583px #FFF, 1607px 41px #FFF, 1652px 1164px #FFF, 124px 556px #FFF, 414px 666px #FFF, 246px 1960px #FFF, 352px 1010px #FFF, 800px 1605px #FFF, 1098px 1053px #FFF, 949px 1302px #FFF, 368px 234px #FFF, 1310px 1637px #FFF, 493px 722px #FFF, 177px 42px #FFF, 1037px 1342px #FFF, 715px 1834px #FFF, 1274px 116px #FFF, 183px 1663px #FFF, 1298px 949px #FFF, 940px 3px #FFF, 1353px 1748px #FFF, 28px 344px #FFF, 1065px 517px #FFF, 912px 1701px #FFF, 667px 235px #FFF, 1702px 920px #FFF, 284px 1375px #FFF, 1307px 434px #FFF, 280px 1269px #FFF, 784px 142px #FFF, 654px 1429px #FFF, 384px 440px #FFF, 357px 1773px #FFF, 944px 756px #FFF, 1065px 56px #FFF, 40px 349px #FFF, 33px 1342px #FFF, 1102px 1615px #FFF, 656px 1008px #FFF, 167px 1583px #FFF, 1388px 1532px #FFF, 514px 942px #FFF, 206px 648px #FFF, 851px 1001px #FFF, 104px 1215px #FFF, 1674px 405px #FFF, 1634px 1227px #FFF, 545px 136px #FFF, 1051px 201px #FFF, 490px 1523px #FFF, 120px 1758px #FFF, 1406px 34px #FFF, 1559px 353px #FFF, 55px 1070px #FFF, 1827px 1869px #FFF, 1446px 1614px #FFF, 1109px 1343px #FFF, 456px 869px #FFF, 698px 43px #FFF, 1756px 1073px #FFF, 1984px 1471px #FFF, 790px 836px #FFF, 1829px 167px #FFF, 1110px 130px #FFF, 1003px 576px #FFF, 1098px 1578px #FFF, 641px 542px #FFF, 357px 1004px #FFF;
    animation: animStar 150s linear infinite;
}

    #stars3:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: 119px 220px #FFF, 1720px 1165px #FFF, 1537px 1462px #FFF, 1754px 137px #FFF, 108px 1381px #FFF, 307px 1390px #FFF, 1416px 531px #FFF, 58px 1584px #FFF, 1888px 202px #FFF, 1580px 85px #FFF, 847px 1752px #FFF, 1945px 1927px #FFF, 1548px 1396px #FFF, 312px 1127px #FFF, 143px 1601px #FFF, 1883px 1746px #FFF, 1105px 1876px #FFF, 873px 1291px #FFF, 1453px 814px #FFF, 1077px 1413px #FFF, 291px 1543px #FFF, 1461px 1770px #FFF, 1884px 1185px #FFF, 355px 1667px #FFF, 1593px 303px #FFF, 849px 300px #FFF, 1756px 59px #FFF, 1830px 1481px #FFF, 1016px 1219px #FFF, 740px 1564px #FFF, 1215px 481px #FFF, 104px 550px #FFF, 1790px 1583px #FFF, 1607px 41px #FFF, 1652px 1164px #FFF, 124px 556px #FFF, 414px 666px #FFF, 246px 1960px #FFF, 352px 1010px #FFF, 800px 1605px #FFF, 1098px 1053px #FFF, 949px 1302px #FFF, 368px 234px #FFF, 1310px 1637px #FFF, 493px 722px #FFF, 177px 42px #FFF, 1037px 1342px #FFF, 715px 1834px #FFF, 1274px 116px #FFF, 183px 1663px #FFF, 1298px 949px #FFF, 940px 3px #FFF, 1353px 1748px #FFF, 28px 344px #FFF, 1065px 517px #FFF, 912px 1701px #FFF, 667px 235px #FFF, 1702px 920px #FFF, 284px 1375px #FFF, 1307px 434px #FFF, 280px 1269px #FFF, 784px 142px #FFF, 654px 1429px #FFF, 384px 440px #FFF, 357px 1773px #FFF, 944px 756px #FFF, 1065px 56px #FFF, 40px 349px #FFF, 33px 1342px #FFF, 1102px 1615px #FFF, 656px 1008px #FFF, 167px 1583px #FFF, 1388px 1532px #FFF, 514px 942px #FFF, 206px 648px #FFF, 851px 1001px #FFF, 104px 1215px #FFF, 1674px 405px #FFF, 1634px 1227px #FFF, 545px 136px #FFF, 1051px 201px #FFF, 490px 1523px #FFF, 120px 1758px #FFF, 1406px 34px #FFF, 1559px 353px #FFF, 55px 1070px #FFF, 1827px 1869px #FFF, 1446px 1614px #FFF, 1109px 1343px #FFF, 456px 869px #FFF, 698px 43px #FFF, 1756px 1073px #FFF, 1984px 1471px #FFF, 790px 836px #FFF, 1829px 167px #FFF, 1110px 130px #FFF, 1003px 576px #FFF, 1098px 1578px #FFF, 641px 542px #FFF, 357px 1004px #FFF;
    }

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}

#loadertitle {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}

.custom-form {
    padding: 0 20px;
}

    .custom-form .form-group {
        position: relative;
        padding-top: 16px;
        margin-bottom: 8px;
    }

        .custom-form .form-group .animated-label {
            position: absolute;
            color: #828282;
            top: 15px;
            left: 0;
            bottom: 0;
            z-index: 2;
            width: 100%;
            font-weight: 300;
            opacity: 0.8;
            cursor: text;
            transition: 0.2s ease all;
            margin: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

            .custom-form .form-group .animated-label:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 45%;
                height: 2px;
                width: 10px;
                visibility: hidden;
                background-color: #c0317c;
                transition: 0.2s ease all;
            }

        .custom-form .form-group.not-empty .animated-label {
            top: 0;
            font-size: 12px;
            color: #225aa4;
        }

        .custom-form .form-group .form-control {
            position: relative;
            z-index: 1;
            border-radius: 0;
            border-width: 0 0 1px;
            border-bottom-color: rgba(154, 154, 154, 0.25);
            height: auto;
            padding: 3px 0 5px;
            box-shadow: none;
        }

            .custom-form .form-group .form-control:focus {
                box-shadow: none;
                border-bottom-color: rgba(0, 0, 0, 0.12);
            }

                .custom-form .form-group .form-control:focus ~ .animated-label {
                    top: 0;
                    opacity: 1;
                    color: #b83287;
                    font-size: 14px;
                }

                    .custom-form .form-group .form-control:focus ~ .animated-label:after {
                        visibility: visible;
                        width: 100%;
                        left: 0;
                    }

.inetcourse-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .inetcourse-panel ul li {
        padding: 5px 0;
        margin-bottom: 5px;
        border-bottom: 1px solid #9c33ad;
        border-top: 1px solid transparent;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

        .inetcourse-panel ul li:hover {
            border-left: 3px solid #9d33ad;
            padding-left: 5px;
            background-color: #fff4f7;
            border-top: 1px solid #d8305b;
            border-right: 1px solid #d8305b;
        }



        .inetcourse-panel ul li a {
            position: relative;
            width: 100%;
            display: list-item;
            vertical-align: middle;
            text-decoration: none;
        }

            .inetcourse-panel ul li a:before {
                font-family: 'Glyphicons Halflings';
                content: "\e080";
                float: right;
                color: #f9d7df;
                font-size: 12px;
            }

.inetsearchbox {
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #e1e4ef;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchbtn {
    position: relative;
    float: right;
    margin-top: -36px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-image: url(../images/searchbtn.png);
    background-color: transparent;
    border: none;
    background-size: 30px 30px;
    outline: none;
    background-repeat: no-repeat;
}

.modal {
    z-index: 99999;
}

.navbar {
    margin-bottom: 0;
}

.paddingbottom200 {
    padding-bottom: 200px;
}

.margintop150-m {
    margin-top: -150px;
}

.mapbg {
    background-image: url(../images/mapbgimg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    border: 1px solid #1c2957;
}

.padding10 {
    padding: 10px;
}

.padding0 {
    padding: 0;
}

.contactinfobg {
    background: #1c2957;
    color: #fff;
    min-height: 479px;
}

.contactheading {
    font-size: 20px;
    text-align: center;
    padding: 30px 0 30px 0;
}

.marginbottom15 {
    margin-bottom: 15px;
}

.tabletdpad {
    vertical-align: top;
    padding: 0 10px;
}

.contactfollow {
    font-size: 20px;
    text-align: center;
}

.tablemargin {
    margin: 0 auto;
    width: 90%;
}
