.course-list-box {
    box-shadow: 0 0 5px 1px rgba(0,0,0,.07);
    padding: 0;
    float: right;
}

@media (min-width: 768px) {
    .category-top {
        padding: 10px 20px;
        min-height: 60px;
    }
}

.category-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #fff;
}

.category-top-filtered {
    background-color: #fff;
}

@media (min-width: 768px) {
    .result-counts {
        padding: 4px 0 0;
    }
}


.result-counts {
    line-height: 30px;
    margin: 0;
    font-size: 15px;
    padding: 7px;
}

    .result-counts span {
        padding-left: 25px;
    }

.btn-transparent, .btn-transparent.active, .btn-transparent:active, .btn-transparent:focus, .btn-transparent:hover {
    color: #000;
    background-color: transparent;
    border-color: transparent;
    border: 1px solid #ccc;
    padding: 7px 20px;
    border-radius: 5px;
    float: right;
}

    .btn-transparent:hover {
        color: #000;
    }

    .btn-transparent.active, .btn-transparent:active, .btn-transparent:focus {
        color: #fff;
    }

.dropdown-menu {
    top: 33px;
    right: 0;
    width: 72%;
}

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        border-left: 4px solid #eab641;
    }

.filtericon {
    padding: 0px 10px 0 0px;
    top: 3px;
}

.filterarrow {
    padding: 0 0px 0 8px;
    top: 3px;
}

#category-courses {
    clear: both;
    padding: 0;
    margin: 0;
    list-style: none;
}

    #category-courses .card-cont {
        background-color: #fff;
    }


    #category-courses .card.card-list-style {
        padding: 0;
    }

    #category-courses .card:hover {
        box-shadow: none;
        background-color: #f4f4f4;
        border-radius: 0;
    }

.no-touch .card.card-list-style:hover {
    border-radius: 5px;
    background-color: #fafafa;
}

.no-touch .card:hover {
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    z-index: 1;
}

.no-touch .card {
    box-shadow: none;
}

@media (min-width: 768px) {
    .card.card-list-style {
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        box-shadow: none;
        margin-top: -1px;
    }
}

@media (min-width: 1024px) {
    .card-list-style {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .card {
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
        border-radius: 5px;
        box-shadow: 0 0 8px rgba(0,0,0,.1);
        padding: 0;
        margin-top: 0;
    }
}

.card {
    cursor: pointer;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin-top: -1px;
}

@media (min-width: 768px) {
    .card.card-list-style .card-content {
        font-size: 0;
    }
}

@media (min-width: 768px) {
    .card .card-content {
        font-size: inherit;
    }
}

.card .card-content {
    font-size: 0;
}

#category-courses .card.card-list-style .image-column {
    width: 33%;
    padding: 20px 5px 20px 20px;
    vertical-align: middle;
}

@media (min-width: 768px) {
    #category-courses .card.card-list-style .image-column {
        width: 23%;
    }
}



.card.card-list-style .image-column {
    vertical-align: middle;
}

@media (min-width: 768px) {
    .card.card-list-style .image-column {
        padding: 10px;
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
}


.card .image-column {
    display: inline-block;
    vertical-align: top;
    float: none;
    padding: 0;
    font-size: 13px;
}

@media (min-width: 768px) {
    .card .image-column {
        display: block;
        float: left;
    }
}

.card a:focus, .card a:hover {
    text-decoration: none;
}

.card a {
    display: block;
}

@media (min-width: 768px) {
    .card.card-list-style .image-column .thumbnail, .card.card-list-style .image-column .thumbnail img, .card.card-list-style .image-column .thumbnail img:before, .card.card-list-style .image-column .thumbnail:before {
        border-radius: 0;
    }
}



.thumbnail {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .thumbnail {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

#category-courses .card.card-list-style .image-column img, #category-courses .card.card-list-style .thumbnail .watch-options {
    border-radius: 5px;
}

@media (min-width: 768px) {
    .card.card-list-style .image-column .thumbnail, .card.card-list-style .image-column .thumbnail img, .card.card-list-style .image-column .thumbnail img:before, .card.card-list-style .image-column .thumbnail:before {
        border-radius: 0;
    }
}

@media (min-width: 768px) {
    .card .thumbnail img {
        border-radius: 5px 5px 0 0;
    }
}

.thumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.card img {
    display: block;
    width: 100%;
    height: auto;
    background: #e5e5e5;
    font-size: 0;
    outline: 0;
}

#category-courses .card.card-list-style .image-column img, #category-courses .card.card-list-style .thumbnail .watch-options {
    border-radius: 5px;
}

.no-touch .card:hover .thumbnail .watch-options {
    opacity: 1;
    -webkit-transition: opacity .4s ease 0s;
    -o-transition: opacity .4s ease 0s;
    transition: opacity .4s ease 0s;
}

.no-touch .card .thumbnail .watch-options {
    display: block;
    opacity: 0;
    -webkit-transition: opacity .4s ease 0s;
    -o-transition: opacity .4s ease 0s;
    transition: opacity .4s ease 0s;
}

@media (min-width: 768px) {
    .card.card-list-style .thumbnail .watch-options {
        border-radius: 0;
    }
}

@media (min-width: 768px) {
    .thumb-shuffle, .thumb-shuffle .thumb-1x1, .thumb-shuffle .thumb-2x2, .thumbnail .watch-options {
        border-radius: 5px 5px 0 0;
    }
}

.thumbnail .watch-options {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-weight: 700;
    background-color: rgba(0,0,0,.75);
    z-index: 1;
}

    .thumbnail .watch-options .watch-course {
        border-right: 0;
    }

.thumbnail .watch-options-out div {
    width: 100%;
    float: none;
    height: auto;
    position: relative;
    margin-top: 0;
    text-align: center;
    top: 0;
}

.thumbnail .watch-options div:first-child {
    border-right: 1px solid rgba(255,255,255,.5);
}

.thumbnail .watch-options div {
    width: 50%;
    float: left;
    height: 70%;
    position: relative;
    margin-top: 8%;
    text-align: center;
}

#category-courses .thumbnail .watch-options-out div span {
    margin-top: 5%;
}

@media (min-width: 768px) {
    #category-courses .thumbnail .watch-options-out div span {
        margin-top: 24%;
    }
}

@media (min-width: 400px) {
    #category-courses .thumbnail .watch-options-out div span {
        margin-top: 22%;
    }
}


.thumbnail .watch-options-out div span {
    margin-top: 30%;
}

.thumbnail .watch-options div span {
    display: block;
    margin-top: 30%;
}

.card .card-meta-data {
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    position: relative;
    white-space: normal;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

@media (min-width: 768px) {
    .card.card-list-style .card-meta-data {
        display: inline-block;
        vertical-align: middle;
        float: none;
        padding-top: 10px;
    }
}

@media (min-width: 768px) {
    .card .card-meta-data {
        padding: 19px 15px 10px;
        display: block;
        float: left;
    }
}


#category-courses .card .card-meta-data h3, #category-courses .card.card-preview .card-meta-data h3 {
    font-size: 14px;
}

@media (min-width: 768px) {
    .card.card-list-style .card-meta-data .title-author-info {
        height: auto;
    }
}

@media (min-width: 768px) {
    .card .card-meta-data .title-author-info {
        height: 70px;
    }
}

@media (min-width: 768px) {
    #category-courses .card .card-meta-data h3, #category-courses .card.card-preview .card-meta-data h3 {
        display: inline;
        font-size: 17px;
    }
}



.card .card-meta-data h3 {
    padding: 0;
    margin: 0;
    font-weight: 700;
    overflow: hidden;
    max-height: 2.2em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#category-courses .card .meta-author, #category-courses .card.card-preview .meta-author {
    margin-bottom: 0;
    line-height: 1.1;
    margin-top: 0;
    max-height: 2.2em;
    position: relative;
    font-size: 12px;
}

@media (min-width: 768px) {
    #category-courses .card .meta-author, #category-courses .card.card-preview .meta-author {
        display: inline;
        font-size: 14px;
    }
}



.card .meta-author {
    font-style: normal;
    margin-top: 5px;
    display: block;
}

#category-courses .title-author-info div {
    margin: 7px 0 5px;
    font-size: 13px;
    line-height: 16px;
    height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 1024px) {
    #category-courses .title-author-info div {
        margin: 7px 0 15px;
    }
}



.dot-ellipsis {
    overflow: hidden;
}

#category-courses .card .card-meta-data .meta {
    font-size: 12px;
}

@media (min-width: 768px) {
    #category-courses .card .card-meta-data .meta {
        font-size: 14px;
    }
}



.card .card-meta-data .meta {
    font-size: 12px;
}

#category-courses .meta-level, #category-courses .meta-released, #category-courses .meta-updated, #category-courses .meta-views {
    padding-left: 10px;
}

#category-courses .meta-released, e #category-courses .meta-updated {
    display: none;
}

@media (min-width: 768px) {
    #category-courses .meta-released, #category-courses .meta-updated {
        display: inline-block;
    }
}


#category-courses .meta-level, #category-courses .meta-released, #category-courses .meta-updated, #category-courses .meta-views {
    padding-left: 10px;
}

#category-courses .meta-level, #category-courses .meta-released, #category-courses .meta-updated, #category-courses .meta-views {
    padding-left: 10px;
}

.meta-views {
    font-weight: 100;
}

@media (min-width: 768px) {
    .card.card-list-style .image-column .thumbnail, .card.card-list-style .image-column .thumbnail img, .card.card-list-style .image-column .thumbnail img:before, .card.card-list-style .image-column .thumbnail:before {
        border-radius: 0;
    }
}

.thumbnail:before {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.card-meta-data a {
    color: #0d1644;
}

#search-filters h3:first-child {
    margin-top: 0;
}

#search-filters h3 {
    margin-top: 30px;
    color: #333;
    font-size: 15px;
    margin-bottom: 10px;
}

.filter-set li:first-child h3 {
    margin-top: 0;
}

.filter-set h3 {
    font-size: 15px;
    line-height: 1.6em;
    font-weight: 700;
    margin: 15px 0 5px;
}

#search-filters ul li:first-child {
    margin-top: 0;
}

#search-filters ul li {
    margin-top: 20px;
}

#search-filters ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-set > li {
    position: relative;
    margin-bottom: 20px;
}

/*.filter-set ul.truncate {
    max-height: 260px;
    overflow-y: hidden;
}*/

.filter-set ul {
    overflow-y: auto;
    max-height: 450px;
}

#search-filters ul li:first-child {
    margin-top: 0;
}

#search-filters ul li li {
    margin: 0;
}

#search-filters ul li {
    margin-top: 20px;
}

.filter-set ul li:not(.active) {
    cursor: pointer;
}

.filter-set ul li {
    line-height: 30px;
}

#search-filters {
    padding: 0;
}

    #search-filters .filter span {
        color: #999;
        font-weight: 300;
        font-size: 13px;
        padding-left: 0;
    }

    #search-filters .filter-set a {
        color: #000;
        text-decoration: none;
        font-size: 12px;
    }
/*
 *  STYLE 9
 */

#style-9::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#style-9::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

#style-9::-webkit-scrollbar-thumb {
    background-color: #c83170;
    background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

#search-filters .filter span:first-child {
    color: #000;
}

.course-details-inner {
    padding: 3px 30px 30px;
    background: #fff;
}

.title-default-left {
    text-transform: capitalize;
    text-align: left;
    font-weight: 500;
    margin-bottom: 45px;
    color: #002147;
}

.title-bar-high {
    position: relative;
}

    .title-bar-high:before {
        content: "";
        height: 3px;
        width: 40px;
        background: #bd276e;
        position: absolute;
        left: 0;
        bottom: -15px;
        z-index: 1;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        -khtml-border-radius: 6px;
        border-radius: 6px;
    }

h3.sidebar-title {
    font-size: 20px;
    color: #002147;
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
    font-weight: 500;
}

    h3.sidebar-title:before {
        content: "";
        height: 3px;
        width: 40px;
        position: absolute;
        left: 0;
        bottom: -15px;
        z-index: 1;
        background: #9c33ad;
    }

.course-details-inner ul.course-feature li {
    width: 32%;
    box-sizing: border-box;
    float: left;
    padding-left: 30px;
    position: relative;
    margin-bottom: 10px;
    margin-right: 5px;
    color: #444;
}

    .course-details-inner ul.course-feature li:before {
        content: "\f058";
        position: absolute;
        font-family: FontAwesome;
        left: 0;
        top: 0;
        font-size: 20px;
        border-radius: 50%;
        z-index: 1;
        line-height: 1.3;
        color: #d83059;
    }

.course-details-inner ul.course-feature:after {
    clear: both;
    content: "";
    display: block;
}

.section-divider {
    height: 1px;
    width: 100%;
    background: #bdbdbd;
}

.course-details-comments {
    margin-bottom: 50px;
}

    .course-details-comments .media {
        padding-bottom: 8px;
        margin-bottom: 35px;
        border-bottom: 1px solid #e3e3e3;
    }

        .course-details-comments .media a img {
            -webkit-transition: all .5s ease-out;
            -moz-transition: all .5s ease-out;
            -ms-transition: all .5s ease-out;
            -o-transition: all .5s ease-out;
            transition: all .5s ease-out;
        }

        .course-details-comments .media .media-body {
            position: relative;
            padding-left: 20px;
        }

            .course-details-comments .media .media-body h3 {
                font-size: 16px;
                /*margin-bottom: 8px;*/
                font-weight: 500;
                margin: 0;
            }

                .course-details-comments .media .media-body h3 a {
                    color: #002147;
                    -webkit-transition: all .5s ease-out;
                    -moz-transition: all .5s ease-out;
                    -ms-transition: all .5s ease-out;
                    -o-transition: all .5s ease-out;
                    transition: all .5s ease-out;
                }

            .course-details-comments .media .media-body h4 {
                color: #fff;
                background: #002147;
                padding: 5px 10px;
                display: inline-block;
                margin-bottom: 10px;
                font-size: 14px;
                font-weight: 500;
            }

            .course-details-comments .media .media-body p {
                color: #757575;
                text-align: justify;
            }

            .course-details-comments .media .media-body .replay-area {
                position: absolute;
                right: 0;
                top: 35px;
                z-index: 3;
            }

                .course-details-comments .media .media-body .replay-area ul li {
                    display: inline-block;
                }

.replay-area ul li i {
    color: #c9316f;
}

.fa-star:before {
    content: "\f005";
}

.sidebar-box {
    margin-bottom: 30px;
    background: #fff;
    border: 1px solid #e0e0e0;
}

    .sidebar-box .sidebar-box-inner {
        padding: 0px 25px;
    }

.sidebar-course-price span {
    font-size: 40px;
    color: #002147;
    margin-bottom: 20px;
    display: block;
}

.sidebar-course-price .enroll-btn {
    margin-bottom: 30px;
}

.enroll-btn {
    color: #ffffff;
    padding: 18px 0;
    background: #b3287b;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    border: 0;
    width: 100%;
    border: 2px solid #fdc800;
    text-align: center;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

    .enroll-btn:hover {
        color: #fff !important;
    }

.download-btn {
    position: relative;
    color: #002147;
    padding: 18px 0;
    background: transparent;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    border: 0;
    width: 100%;
    border: 1px solid #002147;
    text-align: center;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

    .download-btn:before {
        content: "\f019";
        position: absolute;
        font-family: FontAwesome;
        color: #002147;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        left: 8%;
        z-index: 1;
    }

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.sidebar-skilled-area ul li {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

    .sidebar-skilled-area ul li .skilled-img {
        -webkit-box-flex: 2;
        -moz-flex: 2;
        -webkit-flex: 2;
        flex: 2;
        margin-right: 5px;
    }

    .sidebar-skilled-area ul li .skilled-content {
        -webkit-box-flex: 3;
        -moz-flex: 3;
        -webkit-flex: 3;
        flex: 3;
    }

        .sidebar-skilled-area ul li .skilled-content h4 {
            font-size: 16px;
            margin-bottom: 10px;
            line-height: .9;
            font-weight: 500;
        }

h4 a {
    color: #002147;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.sidebar-skilled-area ul li .skilled-content p {
    color: #a2a2a2;
    line-height: 1.2;
    margin-bottom: 0;
    font-size: 12px;
}

.leave-comments .form-group .form-control {
    border-radius: 0;
    background: #f9f9f9;
    box-shadow: none;
    border: 0;
}

.leave-comments .form-group input {
    height: 45px;
    color: #212121;
    font-weight: 500;
    border-right: 1px solid #e5e5e5 !important;
    border-bottom: 1px solid #e5e5e5 !important;
}

.leave-comments .rate-wrapper {
    display: inline-block;
    margin: 5px 0;
}

.leave-comments .rate-label {
    float: left;
    color: #002147;
    margin-right: 10px;
    margin-left: 0;
}

.leave-comments .rate {
    float: left;
    color: #f5f5f5;
    cursor: pointer;
}

.leave-comments .rate-item {
    float: left;
    cursor: pointer;
    margin: 0 5px 0 5px;
}

.leave-comments .form-group .form-control {
    border-radius: 0;
    background: #f9f9f9;
    box-shadow: none;
    border: 0;
}


.leave-comments .form-group textarea {
    border-right: 1px solid #e5e5e5 !important;
    border-bottom: 1px solid #e5e5e5 !important;
}

.view-all-accent-btn {
    text-align: center;
    color: #fff;
    padding: 12px 34px;
    background: #002147;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    border: 0;
    font-weight: 500;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.sidebar-related-area ul li {
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

    .sidebar-related-area ul li .related-img {
        -webkit-box-flex: 2;
        -moz-flex: 2;
        -webkit-flex: 2;
        flex: 2;
        margin-right: 10px;
    }

    .sidebar-related-area ul li .related-content {
        -webkit-box-flex: 3;
        -moz-flex: 3;
        -webkit-flex: 3;
        flex: 3;
    }

        .sidebar-related-area ul li .related-content h4 {
            font-size: 15px;
            margin-bottom: 10px;
            line-height: .9;
            color: #002147;
            margin-top: 0;
        }

            .sidebar-related-area ul li .related-content h4 a:hover {
                color: #444;
            }


            .sidebar-related-area ul li .related-content h4 a {
                color: #002147;
                -webkit-transition: all .5s ease-out;
                -moz-transition: all .5s ease-out;
                -ms-transition: all .5s ease-out;
                -o-transition: all .5s ease-out;
                transition: all .5s ease-out;
            }

        .sidebar-related-area ul li .related-content p {
            color: #000;
            font-size: 20px;
            line-height: 1;
            margin-bottom: 0;
            font-weight: 500;
        }

.sidebar-question-form .form-group input {
    border-radius: 0;
    background: #f5f5f5;
    color: #002147;
    height: 40px;
    border: 1px solid #e5e5e5;
    box-shadow: none;
}

sidebar-question-form .form-group textarea {
    border-radius: 0;
    background: #f5f5f5;
    color: #002147;
    border: 1px solid #e5e5e5;
    box-shadow: none;
}

.default-full-width-btn {
    color: #fff;
    padding: 12px 0;
    background: #002147;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    border: 0;
    width: 100%;
    border: 2px solid #002147;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
