
/*
 *  STYLE 9
 */

.style-9::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.style-9::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}

.style-9::-webkit-scrollbar-thumb {
    background-color: #c83170;
    background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}


.course-details-inner {
    padding: 3px 30px 30px;
    background: #fff;
}

.title-default-left {
    text-transform: capitalize;
    text-align: left;
    font-weight: 500;
    margin-bottom: 45px;
    color: #002147;
}

.title-bar-high {
    position: relative;
}

    .title-bar-high:before {
        content: "";
        height: 3px;
        width: 40px;
        background: #bd276e;
        position: absolute;
        left: 0;
        bottom: -15px;
        z-index: 1;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        -khtml-border-radius: 6px;
        border-radius: 6px;
    }

h3.sidebar-title {
    font-size: 20px;
    color: #002147;
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
    font-weight: 500;
}

    h3.sidebar-title:before {
        content: "";
        height: 3px;
        width: 40px;
        position: absolute;
        left: 0;
        bottom: -15px;
        z-index: 1;
        background: #9c33ad;
    }

.course-details-inner ul.course-feature li {
    width: 32%;
    box-sizing: border-box;
    float: left;
    padding-left: 30px;
    position: relative;
    margin-bottom: 10px;
    margin-right: 5px;
    color: #444;
}

    .course-details-inner ul.course-feature li:before {
        content: "\f058";
        position: absolute;
        font-family: FontAwesome;
        left: 0;
        top: 0;
        font-size: 20px;
        border-radius: 50%;
        z-index: 1;
        line-height: 1.3;
        color: #d83059;
    }

.course-details-inner ul.course-feature:after {
    clear: both;
    content: "";
    display: block;
}

.section-divider {
    height: 1px;
    width: 100%;
    background: #bdbdbd;
}

.course-details-comments {
    margin-bottom: 50px;
}

    .course-details-comments .media {
        padding-bottom: 8px;
        margin-bottom: 35px;
        border-bottom: 1px solid #e3e3e3;
    }

        .course-details-comments .media a img {
            -webkit-transition: all .5s ease-out;
            -moz-transition: all .5s ease-out;
            -ms-transition: all .5s ease-out;
            -o-transition: all .5s ease-out;
            transition: all .5s ease-out;
        }

        .course-details-comments .media .media-body {
            position: relative;
            padding-left: 20px;
        }

            .course-details-comments .media .media-body h3 {
                font-size: 16px;
                /*margin-bottom: 8px;*/
                font-weight: 500;
                margin: 0;
            }

                .course-details-comments .media .media-body h3 a {
                    color: #002147;
                    -webkit-transition: all .5s ease-out;
                    -moz-transition: all .5s ease-out;
                    -ms-transition: all .5s ease-out;
                    -o-transition: all .5s ease-out;
                    transition: all .5s ease-out;
                }

            .course-details-comments .media .media-body h4 {
                color: #fff;
                background: #002147;
                padding: 5px 10px;
                display: inline-block;
                margin-bottom: 10px;
                font-size: 14px;
                font-weight: 500;
            }

            .course-details-comments .media .media-body p {
                color: #757575;
                text-align: justify;
            }

            .course-details-comments .media .media-body .replay-area {
                position: absolute;
                right: 0;
                top: 35px;
                z-index: 3;
            }

                .course-details-comments .media .media-body .replay-area ul li {
                    display: inline-block;
                }

.replay-area ul li i {
    color: #c9316f;
}

.fa-star:before {
    content: "\f005";
}

.sidebar-box {
    margin-bottom: 30px;
    background: #fff;
    border: 1px solid #e0e0e0;
}

    .sidebar-box .sidebar-box-inner {
        padding: 0px 25px;
    }

.sidebar-course-price span {
    font-size: 40px;
    color: #002147;
    margin-bottom: 20px;
    display: block;
}

.sidebar-course-price .enroll-btn {
    margin-bottom: 30px;
}

.enroll-btn {
    color: #ffffff;
    padding: 18px 0;
    background: #b3287b;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    border: 0;
    width: 100%;
    border: 2px solid #fdc800;
    text-align: center;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

    .enroll-btn:hover {
        color: #fff !important;
    }

.download-btn {
    position: relative;
    color: #002147;
    padding: 18px 0;
    background: transparent;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    border: 0;
    width: 100%;
    border: 1px solid #002147;
    text-align: center;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

    .download-btn:before {
        content: "\f019";
        position: absolute;
        font-family: FontAwesome;
        color: #002147;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        left: 8%;
        z-index: 1;
    }

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.sidebar-skilled-area ul li {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

    .sidebar-skilled-area ul li .skilled-img {
        -webkit-box-flex: 2;
        -moz-flex: 2;
        -webkit-flex: 2;
        flex: 2;
        margin-right: 5px;
    }

    .sidebar-skilled-area ul li .skilled-content {
        -webkit-box-flex: 3;
        -moz-flex: 3;
        -webkit-flex: 3;
        flex: 3;
    }

        .sidebar-skilled-area ul li .skilled-content h4 {
            font-size: 16px;
            margin-bottom: 10px;
            line-height: .9;
            font-weight: 500;
        }

h4 a {
    color: #002147;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.sidebar-skilled-area ul li .skilled-content p {
    color: #a2a2a2;
    line-height: 1.2;
    margin-bottom: 0;
    font-size: 12px;
}

.leave-comments .form-group .form-control {
    border-radius: 0;
    background: #f9f9f9;
    box-shadow: none;
    border: 0;
}

.leave-comments .form-group input {
    height: 45px;
    color: #212121;
    font-weight: 500;
    border-right: 1px solid #e5e5e5 !important;
    border-bottom: 1px solid #e5e5e5 !important;
}

.leave-comments .rate-wrapper {
    display: inline-block;
    margin: 5px 0;
}

.leave-comments .rate-label {
    float: left;
    color: #002147;
    margin-right: 10px;
    margin-left: 0;
}

.leave-comments .rate {
    float: left;
    color: #f5f5f5;
    cursor: pointer;
}

.leave-comments .rate-item {
    float: left;
    cursor: pointer;
    margin: 0 5px 0 5px;
}

.leave-comments .form-group .form-control {
    border-radius: 0;
    background: #f9f9f9;
    box-shadow: none;
    border: 0;
}


.leave-comments .form-group textarea {
    border-right: 1px solid #e5e5e5 !important;
    border-bottom: 1px solid #e5e5e5 !important;
}

.view-all-accent-btn {
    text-align: center;
    color: #fff;
    padding: 12px 34px;
    background: #002147;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    border: 0;
    font-weight: 500;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.sidebar-related-area ul li {
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

    .sidebar-related-area ul li .related-img {
        -webkit-box-flex: 2;
        -moz-flex: 2;
        -webkit-flex: 2;
        flex: 2;
        margin-right: 10px;
    }

    .sidebar-related-area ul li .related-content {
        -webkit-box-flex: 3;
        -moz-flex: 3;
        -webkit-flex: 3;
        flex: 3;
    }

        .sidebar-related-area ul li .related-content h4 {
            font-size: 15px;
            margin-bottom: 10px;
            line-height: .9;
            color: #002147;
            margin-top: 0;
        }

            .sidebar-related-area ul li .related-content h4 a:hover {
                color: #444;
            }


            .sidebar-related-area ul li .related-content h4 a {
                color: #002147;
                -webkit-transition: all .5s ease-out;
                -moz-transition: all .5s ease-out;
                -ms-transition: all .5s ease-out;
                -o-transition: all .5s ease-out;
                transition: all .5s ease-out;
            }

        .sidebar-related-area ul li .related-content p {
            color: #000;
            font-size: 20px;
            line-height: 1;
            margin-bottom: 0;
            font-weight: 500;
        }

.sidebar-question-form .form-group input {
    border-radius: 0;
    background: #f5f5f5;
    color: #002147;
    height: 40px;
    border: 1px solid #e5e5e5;
    box-shadow: none;
}

sidebar-question-form .form-group textarea {
    border-radius: 0;
    background: #f5f5f5;
    color: #002147;
    border: 1px solid #e5e5e5;
    box-shadow: none;
}

.default-full-width-btn {
    color: #fff;
    padding: 12px 0;
    background: #002147;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    border: 0;
    width: 100%;
    border: 2px solid #002147;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
/* Acordeon styles */
.tab {
    /*position: relative;*/
    margin-bottom: 1px;
    width: 100%;
    color: #fff;
    overflow: hidden;
}

    .tab label:hover {
        border-left: 3px solid #9d33ad;
        padding-left: 5px;
        background-color: #fff4f7;
        border-top: 1px solid #d8305b;
        border-right: 1px solid #d8305b;
    }

    .tab input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .tab label {
        position: relative;
        display: block;
        /* padding: 0 0 0 1em; */
        /* background: #16a085; */
        font-weight: normal;
        line-height: 37px;
        cursor: pointer;
        color: #337ab7;
        border-bottom: 1px solid #9c33ad;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        height: 38px;
    }

.blue label {
    background: #2980b9;
}

.tab-content {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background: #ffffff;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
    color: #585858;
    position: absolute;
    z-index: 99;
}


    .tab-content p {
        margin: 1em;
    }
/* :checked */
.tab .tab-content {
    max-height: 250px;
    border: 1px solid #9c33ad;
    overflow: hidden;
}

.tab-content:hover {
    overflow: auto !important;
}
/* Icon */
.tab label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    font-size: 20px;
    color: #c63172;
    width: 20px;
}



.tab label::after {
    content: "+";
}
.tab label.checked::after {
    transform: rotate(315deg);
}

.tab-content ul {
    padding: 10px;
}

    .tab-content ul li {
        margin: 0;
        list-style-image: url(../images/Course-icon.png);
        list-style-position: inside;
        padding: 4px 5px 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: #ddf2f91c;
        height: 38px;
        vertical-align: middle;
        line-height: 35px;
    }


        .tab-content ul li a {
            position: relative;
            top: -5px;
            left: 5px;
            display: inline-block;
        }

.inetcourse-panel:after {
    content: ' ';
    clear: both;
}

.margintop-6per {
    margin-top: 6%;
}
